img.logo-f {
  -webkit-filter: invert(0.75);

}

img.img-serv-main {
  border-radius: 7%;

}


img.img-nc-detail,
span.img-nc-detail {
  border-radius: 3%;
  &:hover {
    border-radius: 5%;

    -webkit-transform: scale(0.96);
    -webkit-filter: sepia(0.3) contrast(95%) brightness(75%);
    transition: 0.4s ease all;
  }
}

