#ap.main(role='main')
        hr.tall
    .container
        .row.mt-xl.mb-xl.pt-xl.mb-xl
            .col-md-offset-1.col-md-5
                h2.mt-xl.mb-none.text-color-dark "АвтоПартнер" -
                p.lead це мережа магазинів гуртово-роздрібної торгівлі автозапчастинами.
            //.col-md-2.center.hidden-xs.hidden-sm
                img.img-responsive(src='img/dotted-line-angle.png')
            .col-md-5
                p.mt-xl
                    | Великий асортимент запчастин є вже в нас на складі. Доставка по Україні -  Нова Пошта. Можливість повернення товару. Великий асортимент запчастин є вже в нас на складі. Доставка по Україні -  Нова Пошта. Можливість повернення товару.Великий асортимент запчастин є вже в нас на складі. Доставка по Україні -  Нова Пошта. Можливість повернення товару.

                a.mt-md(href='index.html')
                    | Дізнатись більше
                    i.fa.fa-long-arrow-right

    section
        //hr.tall
        .container
            //h3  Чому
                strong    Ми?
            .row
                .col-md-offset-1.col-md-5
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='500')
                        .feature-box-icon
                            i.fa.fa-group
                        .feature-box-info
                            h4.mb-sm Компетентні продавці
                            p.mb-lg
                                |   Наші продавці добре розуміються на запчастинах, які продають, тому Ви отримаєте саме те що шукаєте.
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='600')
                        .feature-box-icon
                            i.fa.fa-truck
                        .feature-box-info
                            h4.mb-sm Безкоштовна доставка
                            p.mb-lg
                                | Ми безкоштовно доставимо Ваше замовлення в межах м. Львова, у інші регіони - Новою Поштою
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='700')
                        .feature-box-icon
                            i.fa.fa-money
                        .feature-box-info
                            h4.mb-sm Наявність на складі
                            p.mb-lg
                                | Більшість товару уже є на нашому складі і тому Вам не доведеться довго чекати на Ваше замовлення



                .col-md-5.isotope-item.leadership
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='400')
                        h4
                        .embed-responsive.embed-responsive-16by9
                            iframe(width='854', height='480', src='https://www.youtube.com/embed/VIM4dviMZ4Y', frameborder='0', allowfullscreen='')


                            //iframe(frameborder='0', allowfullscreen='', width="1280" height="720" src='https://www.youtube.com/embed/ViBARBSWU48')
            hr.tall


    section#serv.section.section-tertiary.section-no-border.section-custom-construction
        .container
            .row
                .col-md-offset-1.col-md-offset-10
                    .row.pt-xl
                        hr.hr-solid
                        .col-md-12
                            h2.mb-none.text-color-dark Асортимент
                            p.lead Більшість товару вже у нас на складі.
                    .row.mt-lg
                        .col-md-6
                            .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='300')
                                .feature-box-icon
                                    img.img-responsive(src='img/auto-brand/mer-b.png', alt='')
                                .feature-box-info.ml-md
                                    h4.mb-sm Колодки гальмівні передні, дискові
                                    p
                                        | Тут щось дуже лаконічно про даний вид запчастин
                                    a.mt-md(href='index.html')
                                        | Детальніше
                                        i.fa.fa-long-arrow-right
                        .col-md-6
                            .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='0')
                                .feature-box-icon
                                    img.img-responsive(src='img/auto-brand/mer-b.png', alt='')
                                .feature-box-info.ml-md
                                    h4.mb-sm Амортизатор передній
                                    p
                                        | Тут щось дуже лаконічно про даний вид запчастин
                                    a.mt-md(href='index.html')
                                        | Детальніше
                                        i.fa.fa-long-arrow-right
                    .row.mt-md.mb-xl
                        .col-md-6
                            .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='300')
                                .feature-box-icon
                                    img.img-responsive(src='img/auto-brand/mer-b.png', alt='')
                                .feature-box-info.ml-md
                                    h4.mb-sm Диск гальмівний передній
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.
                                    a.mt-md(href='index.html')
                                        | Детальніше
                                        i.fa.fa-long-arrow-right
                        .col-md-6
                            .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='0')
                                .feature-box-icon
                                    img.img-responsive(src='img/auto-brand/mer-b.png', alt='')
                                .feature-box-info.ml-md
                                    h4.mb-sm Підшипник ступиці передній
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.
                                    a.mt-md(href='index.html')
                                        | Детальніше
                                        i.fa.fa-long-arrow-right
                    .row.mt-lg
                        .col-md-6
                            .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='300')
                                .feature-box-icon
                                    img.img-responsive(src='img/auto-brand/mer-b.png', alt='')
                                .feature-box-info.ml-md
                                    h4.mb-sm Фільтр масляний
                                    p
                                        | Тут щось дуже лаконічно про даний вид запчастин
                                    a.mt-md(href='index.html')
                                        | Детальніше
                                        i.fa.fa-long-arrow-right
                        .col-md-6
                            .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='0')
                                .feature-box-icon
                                    img.img-responsive(src='img/auto-brand/mer-b.png', alt='')
                                .feature-box-info.ml-md
                                    h4.mb-sm Радіатор охолодження двигуна
                                    p
                                        | Тут щось дуже лаконічно про даний вид запчастин
                                    a.mt-md(href='index.html')
                                        | Детальніше
                                        i.fa.fa-long-arrow-right
                    .row.mt-md.mb-xl
                        .col-md-6
                            .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='300')
                                .feature-box-icon
                                    img.img-responsive(src='img/auto-brand/mer-b.png', alt='')
                                .feature-box-info.ml-md
                                    h4.mb-sm Радіатор пічки (обігрівача)
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.
                                    a.mt-md(href='index.html')
                                        | Детальніше
                                        i.fa.fa-long-arrow-right
                        .col-md-6
                            .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='0')
                                .feature-box-icon
                                    img.img-responsive(src='img/auto-brand/mer-b.png', alt='')
                                .feature-box-info.ml-md
                                    h4.mb-sm Сайлентблок переднього нижнього важеля
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.
                                    a.mt-md(href='index.html')
                                        | Детальніше
                                        i.fa.fa-long-arrow-right

                    .row.mt-lg
                        .col-md-6
                            .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='300')
                                .feature-box-icon
                                    img.img-responsive(src='img/auto-brand/mer-b.png', alt='')
                                .feature-box-info.ml-md
                                    h4.mb-sm ШРУС зовнішній передній
                                    p
                                        | Тут щось дуже лаконічно про даний вид запчастин
                                    a.mt-md(href='index.html')
                                        | Детальніше
                                        i.fa.fa-long-arrow-right
                        .col-md-6
                            .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='0')
                                .feature-box-icon
                                    img.img-responsive(src='img/auto-brand/mer-b.png', alt='')
                                .feature-box-info.ml-md
                                    h4.mb-sm Для салону
                                    p
                                        | Тут щось дуже лаконічно про даний вид запчастин
                                    a.mt-md(href='index.html')
                                        | Детальніше
                                        i.fa.fa-long-arrow-right
                    .row.mt-md.mb-xl
                        .col-md-6
                            .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='300')
                                .feature-box-icon
                                    img.img-responsive(src='img/auto-brand/mer-b.png', alt='')
                                .feature-box-info.ml-md
                                    h4.mb-sm Трансміссія
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.
                                    a.mt-md(href='index.html')
                                        | Детальніше
                                        i.fa.fa-long-arrow-right
                        .col-md-6
                            .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='0')
                                .feature-box-icon
                                    img.img-responsive(src='img/auto-brand/mer-b.png', alt='')
                                .feature-box-info.ml-md
                                    h4.mb-sm Двигуни
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.
                                    a.mt-md(href='index.html')
                                        | Детальніше
                                        i.fa.fa-long-arrow-right
        hr.tall
        .container
            .row
                .col-md-offset-2.col-md-8
                    .owl-carousel.owl-theme.stage-margin.rounded-nav(data-plugin-options='{"margin": 20, "loop": true, "nav": false, "dots": false, "stagePadding": 40, "items": 15, "autoplay": true, "autoplayTimeout": 2000}')
                        div
                            a.text-decoration-none(href='index.html')
                                img.img-responsive.img-min(src='img/auto-brand/bmw.png', alt='')
                        div
                            a.text-decoration-none(href='index.html')
                                img.img-responsive.img-min(src='img/auto-brand/mer-b.png', alt='')
                        div
                            a.text-decoration-none(href='index.html')
                                img.img-responsive.img-min(src='img/auto-brand/volvo.png', alt='')
                        div
                            a.text-decoration-none(href='index.html')
                                img.img-responsive.img-min(src='img/auto-brand/porsche.png', alt='')
                        div
                            a.text-decoration-none(href='index.html')
                                img.img-responsive.img-min(src='img/auto-brand/vw.png', alt='')
                        div
                            a.text-decoration-none(href='index.html')
                                img.img-responsive.img-min(src='img/auto-brand/mitsu-b.png', alt='')
                        div
                            a.text-decoration-none(href='index.html')
                                img.img-responsive.img-min(src='img/auto-brand/honda.png', alt='')
                        div
                            a.text-decoration-none(href='index.html')
                                img.img-responsive.img-min(src='img/auto-brand/fiat.png', alt='')
                        div
                            a.text-decoration-none(href='index.html')
                                img.img-responsive.img-min(src='img/auto-brand/ford.png', alt='')
                        div
                            a.text-decoration-none(href='index.html')
                                img.img-responsive.img-min(src='img/auto-brand/audi.png', alt='')
                        div
                            a.text-decoration-none(href='index.html')
                                img.img-responsive.img-min(src='img/auto-brand/mazda.png', alt='')
                        div
                            a.text-decoration-none(href='index.html')
                                img.img-responsive.img-min(src='img/auto-brand/nissan.png', alt='')
                        div
                            a.text-decoration-none(href='index.html')
                                img.img-responsive.img-min(src='img/auto-brand/bmw.png', alt='')
                        div
                            a.text-decoration-none(href='index.html')
                                img.img-responsive.img-min(src='img/auto-brand/mer-b.png', alt='')
                        div
                            a.text-decoration-none(href='index.html')
                                img.img-responsive.img-min(src='img/auto-brand/volvo.png', alt='')
                        div
                            a.text-decoration-none(href='index.html')
                                img.img-responsive.img-min(src='img/auto-brand/porsche.png', alt='')
                        div
                            a.text-decoration-none(href='index.html')
                                img.img-responsive.img-min(src='img/auto-brand/vw.png', alt='')
                        div
                            a.text-decoration-none(href='index.html')
                                img.img-responsive.img-min(src='img/auto-brand/mitsu-b.png', alt='')
                        div
                            a.text-decoration-none(href='index.html')
                                img.img-responsive.img-min(src='img/auto-brand/honda.png', alt='')
                        div
                            a.text-decoration-none(href='index.html')
                                img.img-responsive.img-min(src='img/auto-brand/fiat.png', alt='')
                        div
                            a.text-decoration-none(href='index.html')
                                img.img-responsive.img-min(src='img/auto-brand/ford.png', alt='')
                        div
                            a.text-decoration-none(href='index.html')
                                img.img-responsive.img-min(src='img/auto-brand/audi.png', alt='')
                        div
                            a.text-decoration-none(href='index.html')
                                img.img-responsive.img-min(src='img/auto-brand/mazda.png', alt='')
                        div
                            a.text-decoration-none(href='index.html')
                                img.img-responsive.img-min(src='img/auto-brand/nissan.png', alt='')


    section
        .container
            .row
                .col-md-offset-1.col-md-10

                    .row.mt-xl.mb-xl.pt-xl.mb-xl
                        .col-md-4
                            h2.mt-xl.mb-none.text-color-dark "АвтоПартнер" -
                            p.lead це мережа магазинів гуртово-роздрібної торгівлі автозапчастинами.
                        .col-md-2.center.hidden-xs.hidden-sm
                            img.img-responsive(src='img/dotted-line-angle.png')
                        .col-md-6
                            p.mt-xl
                                | Великий асортимент запчастин є вже в нас на складі. Доставка по Україні -  Нова Пошта. Можливість повернення товару. Великий асортимент запчастин є вже в нас на складі. Доставка по Україні -  Нова Пошта. Можливість повернення товару.Великий асортимент запчастин є вже в нас на складі. Доставка по Україні -  Нова Пошта. Можливість повернення товару.

                            a.mt-md(href='index.html')
                                | Дізнатись більше
                                i.fa.fa-long-arrow-right









