doctype html
html(lang='en')
    include ./items/head

    body.my-bodystyle
        include ./items/top-fixed-navbar
        include ./items/avagedje
        include ./items/transparent-container




    footer.main-container-last
        h2  Pond Production











