doctype html
html
    include vendor/nc/head

    body(data-spy='scroll', data-target='#navSecondary', data-offset='170')
        .body
            include vendor/nc/header
            include vendor/nc/strauman





            include vendor/nc/land/n-foot
    include vendor/nc/vendor