doctype html
html(lang='en')
    include ./items/head

    body.my-bodystyle
        include ./items/top-fixed-navbar
        include ./items/avagedje
        include ./items/transparent-container




    footer.main-container-last
        h2  Pond Production












// ul.none



.Layer_3 {
    background-image: url("images/Layer 3.png");
    opacity: 0.502;
    position: absolute;
    left: 0px;
    top: 205px;
    width: 1550px;
    height: 600px;
    z-index: 40;
}

.Layer_3 {
    background-image: url("images/Layer 3.png");
    opacity: 0.502;
    position: absolute;
    left: 0px;
    top: 205px;
    width: 1550px;
    height: 600px;
    z-index: 40;
}
