@import '/less/more-less.less';
@import '/items/log-form.css';



.boxtest {
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: darkred;
  left: 350px;
  transform-origin: 0 100%;
  transform-style: preserve-3d;
  transform: perspective(900px);
  transform: rotate3d(45, 90, 90, 90deg);

}


//FLEX

.main-container {
  margin-top: 46px;
}
.main-container,
.main-container-next,
.main-container-last  {
  height: 100%;
  width: 100%;
  background:white;
}

.main-container-last  {
    background: @main-color;
}

.flex-rules-head {
  display: flex;
  flex-flow: column wrap;
  padding-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.flex-rules {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}


.flex-part {
  flex-shrink: 1;
  flex-grow: 1;
}
.flex-part-intro {
  padding: 10px 15%;
}
.flex-part-aim h3 {
  font-size: 32px;
}
.flex-part-aim p {
  font-size: 22px;
}
.flex-part-aim h3,
.flex-part-aim p {
  color: #fa842b;
  font-weight: bold;
  padding: 0 10%;
  text-shadow: 0 3px 10px black,
  5px 5px 60px white;
}



.main-container-badges {
  align-content: center;
  padding-top: 40px;
  padding-bottom: 75px;
  height: 100%;
  width: 100%;
  background-color: white;
}
.badgez {
  max-height: 75px;
  max-width: 75px;
  border-radius: 50%;
}

.flex-part-badges {
  margin: auto;
  text-align: center;
}


.flex-rules-hor {
  display: flex;
  flex-flow: row wrap;
}


.main-container-transparent {
  min-height: 500px;
  width: 100%;
  border-top: 5px groove @main-color;
  border-bottom: -5px groove @main-color;
}

.main-container-transparent-2 {
  padding-top: 10%;
  min-height: 500px;
  width: 100%;
  border-top: 5px groove @main-color;
  border-bottom: -5px groove @main-color;
}


.flex-rules-aim {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  min-height: 600px;
}

.flex-part-aim {
  margin: 200px auto;
}