.main(role='main')
    section.page-header.page-header-color.page-header-primary.page-header-float-breadcrumb
        .container
            .row
                .col-md-12
                    h1.mt-xs
                        | Стоматологія
                        //span Learn more about our departments
                    ul.breadcrumb.breadcrumb-valign-mid
                        li
                            a(href='index.html') Головна
                        li.active Дитяча стоматологія
    section
        .container
            .row
                .col-md-7
                    .feature-box.feature-box-style-2.mb-lg.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='200')
                        h2.font-weight-semibold.mb-md Дитяча стоматологія
                    .feature-box.feature-box-style-2.mb-lg.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='300')
                        p.lead.font-weight-normal
                            | Дитяча стоматологія – особлива сфера стоматологічної практики.
                    .feature-box.feature-box-style-2.mb-lg.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='500')
                        p.lead   Тут необхідні не тільки практичні знання лікаря-стоматолога, але й особливий психологічний підхід до кожної дитини, задля того, щоб малеча не просто погодилася пройти лікування, а приходила до лікаря з радістю.

                .col-md-4
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='600')
                        img.img-serv-main.ml-xl.mb-xl.img-responsive.box-shadow-custom(src='img/nc-main/main-5.jpg', alt='')

            .hr-solid

            .row
                .col-md-12
                    //p.lead.font-weight-normal
                        |   Герметизація фісур
                    .toggle.toggle-primary.toggle-simple(data-plugin-toggle='')
                        section.toggle.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='700')
                            label Герметизація фісур
                            .toggle-content
                                .row
                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                                strong  Що таке герметик?
                                            | Герметик – це прозорий або білий матеріал, який наноситься на зуб для профілактики карієсу. Герметики покликані захистити найбільш схильні до розвитку карієсу поверхні зубів Вашої дитини.
                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                                strong  Як працюють герметики?
                                            | Навіть якщо Ваша дитини ретельно чистить зуби, дуже часто буває важко очистити невеличкі заглибини та впадини поверхонь зубів. Внаслідок цього в зубів накопичуються залишки їжі та бактерії, які сприяють розвитку карієсу. Герметики “запечатують” дані ділянки, ефективно захищаючи зуби від карієсу.

                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                                strong  Як довго діють герметики?
                                            | Дослідження свідчать про те, що герметики можуть ефективно захищати зуби впродовж років, якщо за ними ретельно та правильно доглядати. Таким чином, Ваша дитина буде захищена протягом періоду часу, коли людина найбільш схильна до розвитку карієсу.
                                            | Правильні навички гігієни порожнини рота та уникнення твердих предметів під час жування – запорука довговічності герметизації фісур.

                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                                strong  Як виглядає процес герметизації фісур?
                                            | Герметизація фісур – комфортний та короткотривалий процес, який займає близько 15 хвилин. Спочатку зуб очищують щіточкою, висушують та наносять герметик, який твердне під дією спеціального світла. Дитина може вживати їжу одразу після прийому.
                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                                strong  Які зуби слід герметизувати?
                                            | Зазвичай, слина омиває рівні та гладенькі поверхні зуба, проте, очищення заглибин та впадин їй не під силу. Тому найбільш схильними до розвитку карієсу є постійні моляри, які слід герметизувати якомога швидше після прорізування.
                                            | Проте, кожна ситуація є унікальною і всім дітям потрібен індивідуальний підхід, тому обов’язковою є консультація дитячого стоматолога.

                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                                strong  Чи обов’язково чистити зуби після герметизації фісур?
                                            | Ще б пак! Герметизація – лише один із кроків до здорової посмішки Вашої дитини. Ретельне чищення зубів, використання флосу, збалансоване харчування, мінімізація перекусів впродовж дня та регулярні візити до стоматолога – запорука стоматологічного здоров’я.
                        section.toggle.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='800')
                            label Профілактика стоматологічних захворювань
                            .toggle-content
                                .row
                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                                strong  Чому профілактика стоматологічних захворювань є такою важливою?
                                            | Профілактика стоматологічних захворювань – це здорова посмішка Вашої дитини. Здорові зуби забезпечують більш ефективне жування і, відповідно, більше збагачення поживними речовинами. Дітки, яких не турбує зубний біль, вчаться говорити швидше і виразніше. Більше того, захворювання зубів можуть негативно впливати на загальне здоров’я дітей, тому профілактика стоматологічних захворювань є запорукою здоров’я Вашого малюка.
                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                                strong  Коли слід розпочинати профілактику стоматологічних захворювань?
                                            | Профілактику слід розпочинати із появою першого зуба. Відвідайте дитячого стоматолога після прорізування першого зуба або до першого дня народження Вашої дитини. Ви дізнаєтесь про те, як захистити молочні зуби. Пам’ятайте, чим раніше Ви звернетесь до стоматолога, тим вищою буде ймовірність попередження стоматологічних захворювань.

                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                                strong  Яку роль відіграють батьки в профілактиці стоматологічних захворювань?
                                            | Після оцінки стану стоматологічного здоров'я, дитячий стоматолог розробить персональну програму домашнього догляду за порожниною рота дитини. Дана програма включає інструкції щодо чищення зубів та використання зубного флоса (нитки), рекомендації щодо харчування та, в разі потреби, застосування препаратів фтору.

                                    .col-md-12
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                                strong  Яким чином дитячий стоматолог запобігає розвитку стоматологічних захворювань?
                                            | Чищення та полірування зубів спеціальними щіточками із пастою, застосування препаратів фтору – все це частина комплексної програми профілактики Вашої дитини. Проте, це далеко не все. Дитячий стоматолог може наносити спеціальний матеріал – герметик – для захисту постійний зубів, які щойно прорізались, а також здійснювати ранню діагностику ортодонтичних патологій та визначати потребу в лікуванні.
                                            | Дитячий стоматолог – це лікар, який з впевненістю та індивідуальним підходом розробить комплекс профілактичних заходів як в умовах клініки, так і вдома, щоі мають на меті збереження здорової посмішки Вашої дитини.
                        section.toggle.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='900')
                            label Рентгендіагностика у дітей
                            .toggle-content
                                .row
                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                                strong  Як часто дітям слід здійснювати рентгендіагностику?
                                            | Загалом, потреба в рентгендіагностиці для дітей є дещо більшою, ніж для дорослих, адже дитячий організм постійно росте та розвивається. Більше того, діти більш схильні то розвитку карієсу. Для дітей із високим ризиком розвитку карієсу рекомендовано здійснювати рентгендіагностику один раз на півроку, для дітей із низьким ризиком розвитку карієсу дещо рідше.
                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                                strong  Навіщо дитині рентгендіагностика, якщо в неї ніколи не було карієсу?
                                            | Карієс – це далеко не єдина причина для рентгендіагностики. Адже на ренгтенівських знімках можна побачити та оцінити зачатки постійних зубів, діагностувати захворювання кісткової тканини, оцінити ступінь ураження при травмах та скласти план ортодонтичного лікування. Рентгендіагностика дозволяє виявити та лікувати захворювання, які непомітні під час клінічного огляду. Пам’ятайте, що рання діагностика та вчасне лікування роблять процес більш комфортним та значно доступнішим.

                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                                strong  Наскільки безпечними є рентгенапарати?
                                            | Ми робимо все можливе, аби звести до мінімум опромінення дитини під час рентгендіагностики. Ми використовуємо лише найбільш сучасне цифрове обладнання та спеціальні захисні жилети. Таким чином, кількість опромінення є справді мізерною. Насправді, рентгенівські промені несуть в собі значно меншу загрозу, аніж пізно діагностована та невилікувана стоматологічна патологія.
                        section.toggle.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='1000')
                            label Фтор
                            .toggle-content
                                .row
                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                                strong  Що являє собою фтор?
                                            | Фтор – це природній хімічний елемент. Рутинне використання невеличкої кількості фтору сприяє захисту від карієсу. В тих місцях, де вміст фтору є нижчим, його можуть додавати у склад питної води. Дослідження продемонстрували, що фторування питної води в США зменшило поширеність карієсу на 50%. Фтор є активним компонентом багатьох стоматологічних засобів, таких як зубні пасти, ополіскувачі порожнини рота, гелі та інше.
                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                                strong  Яким чином фтор сприяє захисту від карієсу?
                                            | Фтор зменшує втрату мінеральних речовин тканинами зуба та сприяє ремінералізації (зміцненню ослаблених ділянок, в яких починає розвиватись карієс). Також фтор впливає на бактерії, що здійснюють “кислотні атаки” на зуби дитини, руйнуючи їх. Ризик карієсу значно зменшується, якщо використання фтору поєднується із раціональним харчуванням та ретельною гігієною порожнини рота.

                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                                strong  Як знати, чи потрібні дитині препарати фтору?
                                            | Дитячий стоматолог оцінює багато факторів перед тим, як призначати препарати фтору. До уваги береться вік дитини, схильність до розвитку карієсу та вміст фтору в продуктах харчування. Дитячі суміші мають різний вміст фтору. Також різним є вміст фтору у воді в залежності від фасування та джерела. Дитячий стоматолог оцінить кількістю фтору, яку отримує Ваша дитина та прийме компетентне рішення.

                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                                strong  Наскільки безпечним є фтор?
                                            | Доведено, що використання фтору з профілактичною метою є цілком безпечним та високоефективним. Тим не менше, будь-які препарати, що містять фтор, слід зберігати в недоступному для дітей місці. Прийом фтору у надмірних кількостях може призвести до захворювання, що носить назву флюороз. На сьогоднішній день, завдяки досягненням естетичної стоматології, зовнішній вигляд уражених флюорозом зубів можна легко виправити.
                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                                strong  Якою зубною пастою повинна користуватись дитина?
                                            | Дітки, які лише навчаються чистити зуби, повинні чистити зуби пастою без фтору або із найменшим його вмістом, щоб попередити випадкове проковтування. В процесі дорослішання слід переходити на пасту із відповідним до вікової групи вмістом фтору та чистити зуби щонайменше двічі на добу.

                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                                strong  Що таке аплікації препаратів фтору?
                                            | Аплікації препаратів фтору особливо показані дітям із високим ризиком розвитку карієсу. Фактори ризику включають дітей із вилікуваними від карієсу зубами, дітей, що вживають велику кількість солодощів, користуються ортодонтичними апаратами або страждають від сухості порожнини рота.
                        section.toggle.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='1100')
                            label Шкідливі звички
                            .toggle-content
                                .row
                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                                strong  Чому діти смокчуть пальці, пустунчики та інші предмети?
                                            | Такий тип смоктання є абсолютно нормальним для немовлят та дітей, адже створюється певне відчуття безпеки. Для дітей смоктання предметів є своєрідним способом контакту та пізнання навколишнього середовища. Насправді ж, немовлята смокчуть пальці ще до народження, перебуваючи в утробі матері.
                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                                strong  Чи є такі звички шкідливими для дітей?
                                            | Більшість дітей самостійно перестають смоктати палець, пустунчики та інші предмети у віці 2-4 роки. Проте, в деяких дітей дана звичка зберігається протягом довшого періоду часу і стає шкідливою. Наслідком цього можуть бути проблеми із прикусом, ростом щелеп та кісток, які утримують зуби.

                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                                strong  Коли слід хвилюватись про шкідливу звичку смоктання пальця?
                                            | Дитячий стоматолог ретельно слідкує за процесом прорізування зубів та розвитком щелеп, беручи до уваги звичку смоктання пальця. Враховуючи той факт, що тривала звичка смоктання може призводити до негативних наслідків, корекцію шкідливої звички слід здійснювати в період після 3-х років.
            .row
                .col-md-12
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='1250')
                        p.lead
                            | Наш колектив уміє знайти підхід навіть до найскладнішої дитини.



    section.call-to-action.call-to-action-default.with-button-arrow.call-to-action-in-footer
        .container
            .row
                .col-md-offset-2.col-md-10
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeBounceUp', data-appear-animation-delay='350')
                        .call-to-action-content
                            h3
                                | Ви можете
                                strong  записатись
                                |   на огляд зараз
                            p
                                | Залиште контактні данні
                                strong  Ми зателефонує
                                |    протягом 10-ти хвилин
                            a.btn.btn-borders.btn-primary.custom-button.text-uppercase.mt-lg.mb-lg.font-weight-bold.appear-animation(href='clin-index.html', data-appear-animation='fadeInDown', data-appear-animation-delay='550') Записатись!

