.main(role='main')
    section.page-header.page-header-color.page-header-primary.page-header-float-breadcrumb
        .container
            .row
                .col-md-12
                    h1.mt-xs
                        | Навчальний центр
                        //span Learn more about our departments
                    ul.breadcrumb.breadcrumb-valign-mid
                        li
                            a(href='index.html') Головна
                        li.active Навчальний центр
    .container
        .row
            .col-md-12
                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='300')
                    .blog-posts
                        article.post.post-large
                            .post-image.center
                                .owl-carousel.owl-theme(data-plugin-options='{"items":1}')
                                    div
                                        .img-thumbnail
                                            img.img-responsive(src='img/nc-main/e1.jpg', alt='')
                                    div
                                        .img-thumbnail
                                            img.img-responsive(src='img/nc-main/e2.jpg', alt='')
                                    div
                                        .img-thumbnail
                                            img.img-responsive(src='img/nc-main/e3.jpg', alt='')
                                    div
                                        .img-thumbnail
                                            img.img-responsive(src='img/nc-main/e4.jpg', alt='')
                                    div
                                        .img-thumbnail
                                            img.img-responsive(src='img/nc-main/e5.jpg', alt='')

                            .post-date
                                span.day 24-25
                                span.month Листопада
                            .post-content
                                h2  75-й Київський міжнародний форум та спеціалізована виставка МЕДВІН: ЕкспоДентал 2016
                                    a(href='blog-post.html')
                                p
                                    | 23-25 листопада у виставковому комплексі "КиївЕкспоПлаза" відбудеться 75-й Київський міжнародний форум та спеціалізована виставка - підсумкова виставка АСУ 2016 року МЕДВІН: ЕкспоДентал.
                                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='300')
                                    a.btn.btn-borders.btn-primary.custom-button.text-uppercase.mt-lg.mb-lg.font-weight-bold(href='clin-index.html') детальніше...
    .container
        .row
            .col-md-12
                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='300')
                    .blog-posts
                        article.post.post-large
                            .post-image.center
                                .owl-carousel.owl-theme(data-plugin-options='{"items":1}')
                                    div
                                        .img-thumbnail
                                            img.img-responsive(src='img/nc-main/e1.jpg', alt='')
                                    div
                                        .img-thumbnail
                                            img.img-responsive(src='img/nc-main/e2.jpg', alt='')
                                    div
                                        .img-thumbnail
                                            img.img-responsive(src='img/nc-main/e3.jpg', alt='')
                                    div
                                        .img-thumbnail
                                            img.img-responsive(src='img/nc-main/e4.jpg', alt='')
                                    div
                                        .img-thumbnail
                                            img.img-responsive(src='img/nc-main/e5.jpg', alt='')

                            .post-date
                                span.day 24-25
                                span.month Листопада
                            .post-content
                                h2  75-й Київський міжнародний форум та спеціалізована виставка МЕДВІН: ЕкспоДентал 2016
                                    a(href='blog-post.html')
                                p
                                    | 23-25 листопада у виставковому комплексі "КиївЕкспоПлаза" відбудеться 75-й Київський міжнародний форум та спеціалізована виставка - підсумкова виставка АСУ 2016 року МЕДВІН: ЕкспоДентал.
                                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='300')
                                    a.btn.btn-borders.btn-primary.custom-button.text-uppercase.mt-lg.mb-lg.font-weight-bold(href='clin-index.html') детальніше...

    .container
        .row
            .col-md-12
                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='300')
                    .blog-posts
                        article.post.post-large
                            .post-image.center
                                .owl-carousel.owl-theme(data-plugin-options='{"items":1}')
                                    div
                                        .img-thumbnail
                                            img.img-responsive(src='img/nc-main/e1.jpg', alt='')
                                    div
                                        .img-thumbnail
                                            img.img-responsive(src='img/nc-main/e2.jpg', alt='')
                                    div
                                        .img-thumbnail
                                            img.img-responsive(src='img/nc-main/e3.jpg', alt='')
                                    div
                                        .img-thumbnail
                                            img.img-responsive(src='img/nc-main/e4.jpg', alt='')
                                    div
                                        .img-thumbnail
                                            img.img-responsive(src='img/nc-main/e5.jpg', alt='')

                            .post-date
                                span.day 24-25
                                span.month Листопада
                            .post-content
                                h2  75-й Київський міжнародний форум та спеціалізована виставка МЕДВІН: ЕкспоДентал 2016
                                    a(href='blog-post.html')
                                p
                                    | 23-25 листопада у виставковому комплексі "КиївЕкспоПлаза" відбудеться 75-й Київський міжнародний форум та спеціалізована виставка - підсумкова виставка АСУ 2016 року МЕДВІН: ЕкспоДентал.
                                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='300')
                                    a.btn.btn-borders.btn-primary.custom-button.text-uppercase.mt-lg.mb-lg.font-weight-bold(href='clin-index.html') детальніше...

            .hr-tall


                    ul.pagination.pagination-lg.pull-right
                        li
                            a(href='#') «
                        li.active
                            a(href='#') 1
                        li
                            a(href='#') 2
                        li
                            a(href='#') 3
                        li
                            a(href='#') »
