footer#footer.m-none
    .container
        .row
            .col-md-3
                h4.mb-xlg Location
                p
                    | Porto Medical
                    br
                    |                                123 Porto Blvd, Suite 100
                    br
                    |                                New York, NY
                    br
                    |                                Phone : 123-456-7890
            .col-md-3
                h4.mb-xlg Opening Hours
                .info.custom-info
                    span Mon-Fri
                    span 8:30 am to 5:00 pm
                .info.custom-info
                    span Saturday
                    span 9:30 am to 1:00 pm
                .info.custom-info
                    span Sunday
                    span Closed
            .col-md-3.col-md-offset-1
                .contact-details
                    h4.mb-xlg Emergency Cases
                    a.text-decoration-none(href='tel:1234567890')
                        strong.font-weight-light (800)123-4567
            .col-md-2
                h4.mb-xlg Social Media
                ul.social-icons
                    li.social-icons-facebook
                        a(href='http://www.facebook.com/', target='_blank', title='Facebook')
                            i.fa.fa-facebook
                    li.social-icons-twitter
                        a(href='http://www.twitter.com/', target='_blank', title='Twitter')
                            i.fa.fa-twitter
                    li.social-icons-linkedin
                        a(href='http://www.linkedin.com/', target='_blank', title='Linkedin')
                            i.fa.fa-linkedin
    .footer-copyright.pt-md.pb-md
        .container
            .row
                .col-md-12.center.m-none
                    p © Copyright 2016. All Rights Reserved.