header#header.header-narrow(data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 35, "stickySetTop": "-35px", "stickyChangeLogo": false}', style='min-height: 139px;')
    .header-body(style='top: 0px;').prime-color
        .header-top.header-top.header-top-style-3.header-top-custom
            .container
                nav.header-nav-top.pull-right
                    ul.nav.nav-pills
                        li.hidden-xs
                            span.ws-nowrap
                                i.icon-location-pin.icons
                                |  Городоцька 287, Львів, Україна
                        li.hidden-xs
                            span.ws-nowrap
                                i.icon-envelope-open.icons
                                a.text-decoration-none(href='mailto:info@nestorclinic.com') info@nestorclinic.com
                        li
                            span.ws-nowrap
                                i.icon-call-out.icons
                                |  + 38 (032) 262 18 77
        .header-container.container
            .header-row
                .header-column
                    .header-logo
                        a(href='index.html')
                            img.logo-f(alt='NC', width='210', height='50', src='img/nc-main/nc-logo.png')
                .header-column
                    .header-row
                        .header-nav.pt-xs
                            button.btn.header-btn-collapse-nav(data-toggle='collapse', data-target='.header-nav-main')
                                i.fa.fa-bars
                            .header-nav-main.header-nav-main-effect-1.header-nav-main-sub-effect-1.collapse
                                nav
                                    ul#mainNav.nav.nav-pills
                                        //li
                                            a(href='index.html')
                                                | Головна
                                        li
                                            a(href='clin-index.html')
                                                | Медичний центр

                                        li.dropdown
                                            a.dropdown-toggle(href='#')
                                                | Спеціалізація
                                                i.fa.fa-caret-down
                                            ul.dropdown-menu
                                                li
                                                    a(href='index-strauman.html') Імпланти Straumann
                                                li
                                                    a(href='s1-index.html') Вирівнювання суглобів
                                                li
                                                    a(href='s1-index.html') Вирівнювання зубів
                                        li.dropdown
                                            a.dropdown-toggle(href='#')
                                                | Стоматологія
                                                i.fa.fa-caret-down
                                            ul.dropdown-menu
                                                li
                                                    a(href='s1-index.html') Ендодонтія
                                                li
                                                    a(href='index-implant.html') Імплантологія
                                                li
                                                    a(href='index-parodont.html') Пародонтологія
                                                li
                                                    a(href='index-estetika.html') Ортопедія та естетика
                                                li
                                                    a(href='index-children.html') Дитяча стоматологія
                                        li.dropdown
                                            a.dropdown-toggle(href='#')
                                                | Косметологія
                                                i.fa.fa-caret-down
                                            ul.dropdown-menu
                                                li
                                                    a(href='s1-index.html') Косметологічна послуга
                                                li
                                                    a(href='s1-index.html') Косметологічна послуга
                                                li
                                                    a(href='s1-index.html') Косметологічна послуга
                                        li
                                            a(href='doc-index.html')
                                                | Команда
                                        li
                                            a(href='index-events.html')
                                                | Навчальний центр
                                        li
                                            a(href='index-catalog.html')
                                                | Каталог


                                    //nav
                                        ul#mainNav.nav.nav-pills
                                            li.activedropdown-full-color.dropdown-secondary
                                                a(href='demo-medical.html')
                                                    | Home
                                            li.dropdown-full-color.dropdown-secondary
                                                a(href='demo-medical-about-us.html')
                                                    | About Us
                                            li.dropdown.dropdown-full-color.dropdown-secondary
                                                a.dropdown-toggle(href='demo-medical-departments.html')
                                                    | Departments
                                                    i.fa.fa-caret-down
                                                ul.dropdown-menu
                                                    li
                                                        a(href='demo-medical-departments-detail.html') Cardiology
                                                    li
                                                        a(href='demo-medical-departments-detail.html') Gastroenterology
                                                    li
                                                        a(href='demo-medical-departments-detail.html') Pulmonology
                                                    li
                                                        a(href='demo-medical-departments-detail.html') Dental
                                                    li
                                                        a(href='demo-medical-departments-detail.html') Gynecology
                                                    li
                                                        a(href='demo-medical-departments-detail.html') Hepatology
                                            li.dropdown-full-color.dropdown-secondary
                                                a(href='demo-medical-doctors.html')
                                                    | Doctors
                                            li.dropdown-full-color.dropdown-secondary
                                                a(href='demo-medical-resources.html')
                                                    | Resources
                                            li.dropdown-full-color.dropdown-secondary
                                                a(href='demo-medical-insurance.html')
                                                    | Insurance
                                            li.dropdown-full-color.dropdown-secondary
                                                a(href='demo-medical-contact.html')
                                                    | Contact



//header#header.header-no-border-bottom(data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 148, "stickySetTop": "-148px", "stickyChangeLogo": false}', style='min-height: 208px;')
    .header-body(style='top: 0px;')
        .header-top.header-top-style-2
            .container
                p.pull-left.hidden-xs
                    | Сповідуємо здоровий спосіб життя та несемо світові красу!
                p.pull-right
                    i.fa.fa-map-marker
                    |  Городоцька 287, Львів, Україна
        .header-container.container
            .header-row
                .header-column
                    .header-logo
                        a(href='index.html')
                            img.logo-f(alt='nc', width='180', height='44', data-sticky-width='82', data-sticky-height='40', data-sticky-top='33', src='img/nc-main/nc-logo.png')

                .header-column
                    ul.header-extra-info.hidden-xs
                        li
                            .feature-box.feature-box-style-2
                                .feature-box-icon
                                    i.fa.fa-phone
                                .feature-box-info
                                    h4.mb-none + 38 (032) 262 18 77
                                    p
                                        small   Дзвоніть!
                        li
                            .feature-box.feature-box-style-2
                                .feature-box-icon
                                    i.fa.fa-envelope
                                .feature-box-info
                                    h4.mb-none info@nestorclinic.com
                                    p
                                        small Напишіть нам!
        .header-container.header-nav.header-nav-bar.header-nav-bar-primary
            .container
                button.btn.header-btn-collapse-nav(data-toggle='collapse', data-target='.header-nav-main')
                    i.fa.fa-bars
                .header-nav-main.header-nav-main-light.header-nav-main-effect-3.header-nav-main-sub-effect-1.collapse
                    nav
                        ul#mainNav.nav.nav-pills
                            //li
                                a(href='index.html')
                                    | Головна
                            li
                                a(href='clin-index.html')
                                    | Медичний центр

                            li.dropdown
                                a.dropdown-toggle(href='#')
                                    | Спеціалізація
                                    i.fa.fa-caret-down
                                ul.dropdown-menu
                                    li
                                        a(href='index-strauman.html') Імпланти Straumann
                                    li
                                        a(href='s1-index.html') Вирівнювання суглобів
                                    li
                                        a(href='s1-index.html') Вирівнювання зубів
                            li.dropdown
                                a.dropdown-toggle(href='#')
                                    | Стоматологія
                                    i.fa.fa-caret-down
                                ul.dropdown-menu
                                    li
                                        a(href='s1-index.html') Ендодонтія
                                    li
                                        a(href='index-implant.html') Імплантологія
                                    li
                                        a(href='index-parodont.html') Пародонтологія
                                    li
                                        a(href='index-estetika.html') Ортопедія та естетика
                                    li
                                        a(href='index-children.html') Дитяча стоматологія
                            li.dropdown
                                a.dropdown-toggle(href='#')
                                    | Косметологія
                                    i.fa.fa-caret-down
                                ul.dropdown-menu
                                    li
                                        a(href='s1-index.html') Косметологічна послуга
                                    li
                                        a(href='s1-index.html') Косметологічна послуга
                                    li
                                        a(href='s1-index.html') Косметологічна послуга
                            li
                                a(href='doc-index.html')
                                    | Команда
                            li
                                a(href='index-events.html')
                                    | Навчальний центр
                            li
                                a(href='index-catalog.html')
                                    | Каталог




               //.header-column-right
                    ul.header-social-icons.social-icons.hidden-xs
                        li.social-icons-facebook.feature-box.feature-box-style-3
                            a(href='http://www.facebook.com/', target='_blank', title='Facebook')
                                i.fa.fa-facebook
                        li.social-icons-twitter.feature-box.feature-box-style-3
                            a(href='http://www.twitter.com/', target='_blank', title='Twitter')
                                i.fa.fa-twitter
                        li.social-icons-linkedin.feature-box.feature-box-style-3
                            a(href='http://www.linkedin.com/', target='_blank', title='Linkedin')
                                i.fa.fa-linkedin


