.main(role='main')
    section.page-header.page-header-color.page-header-primary.page-header-float-breadcrumb
        .container
            .row
                .col-md-12
                    h1.mt-xs
                        | Стоматологія
                        //span Learn more about our departments
                    ul.breadcrumb.breadcrumb-valign-mid
                        li
                            a(href='index.html') Головна
                        li.active Імплантологія
    section
        .container
            .row

                .col-md-7
                    .feature-box.feature-box-style-2.mb-lg.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='200')
                        h2.font-weight-semibold.mb-md Імплантологія
                    .feature-box.feature-box-style-2.mb-lg.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='300')
                        p.lead.font-weight-normal
                            | Значна більшість пацієнтів, що обрали імплантати для заміщення відсутніх зубів, свідчать про покращення якості життя після лікування.
                    .feature-box.feature-box-style-2.mb-lg.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='500')
                        p.lead   Статистика говорить про те, що 69% дорослих людей віком 35-44 роки втратили хоча б один постійний зуб внаслідок травми, захворювань пародонту, карієсу чи проблем із кореневими каналами. Більше того, до 74-річного віку 26% дорослих втрачають усі постійні зуби.



                .col-md-4
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='600')
                        img.img-serv-main.ml-xl.mb-xl.img-responsive.box-shadow-custom(src='img/nc-main/main-6.jpg', alt='')

            .hr-solid

            .row
                .col-md-12
                    .toggle.toggle-primary.toggle-simple(data-plugin-toggle='')
                        section.toggle.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='800')
                            label Будова дентального імплантату
                            .toggle-content
                                .row
                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                            | Дентальний імплантат – це коренеподібний елемент, що використовується для заміни відсутнього зуба. Імплантат складається із тіла імплантату та видимих поверхневих структур. Тіло імплантату найчастіше виготовляється із титану, адже цей матеріал є нейтральним для організму людини. Широке застосування дентальної імплантації стало можливим завдяки відкриттю феномену остеоінтеграції.

                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='300')
                                            p
                                            | Суть феномену полягає у наявності безпосереднього контакту та функціонального зв’язку між імплантатом та кістковою тканиною, на яку здійнюється навантаження. Формувач ясен, який сприяє загоєнню та формуванню м’яких тканин навколо імплантату, може встановлюватись як безпосередньо під час імплантації, так і через декілька місяців.

                                    //.col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='300')
                                            img.img-responsive(src='img/nc-main/end-1.jpg', alt='')

                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='300')
                                            p
                                            | Після цього встановлюється кінцевий елемент – абатмент – який є основою для встановлення протезних конструкцій. Показник успішності близько 95%, а також 40-річний досвід клінічних досліджень, що підтверджують високу функціональність імплантатів, роблять їх методом вибору при заміщенні відсутніх зубів.


                        section.toggle.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='800')
                            label Хто є кандидатом на встановлення імплантатів?
                            .toggle-content
                                .row
                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                            | Встановлення дентальних імплантатів вимагає наявності відповідної товщини кісткової тканини. В окреми випадках може потребуватись проведення нарощення об’єму кісткової – кісткової пластики.  Деякі захворювання також можуть лімітувати або ж зовсім виключати встановлення дентальних імплантатів. До них, в першу чергу, відносять нелікований пародонтит та неконтрольований цукровий діабет.

                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='300')
                                            p
                                            | Лікування може мати певні обмеження та застереження при наявності проблем із згортанням крові, захворювань кісток, імунодефіцитних станів, важких стадій загальних захворювань та інше. Паління є одним із найважливіших факторів ризику ускладень як до, так і після встановлення дентальних імплантатів.
                                    //.col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='300')
                                            img.img-responsive(src='img/nc-main/end-1.jpg', alt='')
                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='300')
                                            p
                                            | Успішне лікування неможливе без належної гігієни порожнини рота. Недостатній рівень гігієни порожнини рота та низька мотивація пацієнта є протипоказом для встановлення імплантатів. Після встановлення імплантатів зуби та імплантати слід ретельно та регулярно очищати за допомогою спеціальних засобів.


                        section.toggle.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='800')
                            label Процес встановлення дентальних імплантатів
                            .toggle-content
                                .row
                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                            | Після проведення адекватного знеболення лікар-стоматолог здійснює розріз та відшаровує ясна з метою створення доступу до кістки. Далі, за допомогою спеціальних борів із наборів для імплантації створюється спеціальне кісткове ложе. Дана маніпуляція обов’язково виконується із охолодженням для попередження перегрівання кістки.

                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='300')
                                            p
                                            | Після цього імплантат встановлюється в сформоване ложе, а дефект, що утворився після розрізу, закривається за допомогою накладання швів. Дентальна імплантація може відбуватись як в один, так і в два етапи.
                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='300')
                                            p
                                            |Одноетапна імплантація полягає в одночасному встановленні дентального імплантату та формувача ясен – елементу, що виступає над яснами та сприяє їхнього загоєнню та формуванню перед подальшим протезуванням. Двоетапна імплантація полягає у відтермінованому виведенні імплантатів назовні – весь етап загоєння та приживлення імплантат перебуває під яснами.



                        section.toggle.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='1000')
                            label Після встановлення імплантатів
                            .toggle-content
                                .row
                                    .col-md-12
                                        p
                                        | Після імплантації надзвичайно важливо дотримуватись усіх наданих лікарем рекомендацій. Зазвичай, Вам призначать ротові ванночки із розчиному хлоргексдину, нестероїдні протизапальні препарати та знеболюючі. В окреми випадках може потребуватись прийом антибіотиків.
                                .row
                                    .col-md-12
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='200')
                                            ol.list.list-ordened.list-ordened-style-2.mb-xlg.mt-lg
                                                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='200')
                                                    li
                                                        p   Гігієна порожнини рота
                                                        p   Належна гігієна порожнини рота є надзвичайно важливою на всіх етапах лікування. Лікар-стоматолог чи гігієніст допоме обрати усі засоби для належного очищення в ділянці імплантатів (зубні щітки та пасти, йоршики та флоси). Низький рівень гігієни порожнини рота може призвести до надмірного накопичення зубного нальоту, розвитку запальних процесів у ділянці навколо імпланатів та може призвести до його втрати у кінцевому результаті.
                                                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='350')
                                                    li
                                                        p   Регулярні профілактичні візити
                                                        p   Регулярні профілактичні огляди є надважливими у процесі догляду за імплантатами. Під час таких візитів, частоту яких визначаєте Ви із стоматологом, проводяться огляди та професійна гігієна, яка включає чищення як зубів, так і імплантатів. Професійа гігієна в ділянці імплантатів може потребувати використання спеціальних засобів та інструментів. При проведенні професійної гігієни особлива увага надається важкодоступним ділянках, які важко очищати ретельним чином в домашніх умовах.

                                                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='500')
                                                    li
                                                        p   Паління
                                                        p   Паління – один із основних факторів ризику виникнення ускладнень після дентальної імплантації, тому необхідно докласти всіх зусиль, щоб кинути палити.

                        section.toggle.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='300')
                            label Догляд за імплантатами
                            .toggle-content
                                .row
                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                            | Останні дані наукових конференцій свідчать про те, що використання лише зубної щітки чи дентального флосу (зубної нитки) не є достатнім для ретельного та ефективного очищення зубів, імплантатів та міжзубним проміжків. Тому все більше та більше рекомендується використання міжзубних йоршиків та інших допоміжних засобів.

                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='300')
                                            p
                                            | Після завершення лікування, ділянку навколо імплантатів можна чистити зубною щіткою, використовуючи також і допоміжні засоби гігієни порожнини рота. Ваші природні зуби слід очищати звичним шляхом, використовуючи м’яку зубні щітку із ворсинками конусної форми для проникнення під лінію ясен.
                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='300')
                                            p
                                            | Для очищення міжзубних проміжків необхідно використовувати дентальний флос або міжзубні щітки. Імплантати, в свою чергу, потребують спеціального догляду, оскільки металева поверхня може бути легко пошкоджена при спробах очищення за допомогою промислових йоршиків, жорстких щіток, канцелярських скріпок, що може призводити до накопичення бактерій та розвитку периімплантиту.





            .row
                .col-md-12
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='1250')
                        p.lead
                            | На відміну від повних знімних протезів, які здійснюють значний тиск на ясна та незнімних мостоподібних протезів, що використовують суміжні зуби у якості опори, дентальні імплантати дарують якісний та довготривалий ефект, встановлюючись у кістку хірургічним шляхом.




    section.call-to-action.call-to-action-default.with-button-arrow.call-to-action-in-footer
        .container
            .row
                .col-md-offset-2.col-md-10
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeBounceUp', data-appear-animation-delay='350')
                        .call-to-action-content
                            h3
                                | Ви можете
                                strong  записатись
                                |   на огляд зараз
                            p
                                | Залиште контактні данні
                                strong  Ми зателефонує
                                |    протягом 10-ти хвилин
                            a.btn.btn-borders.btn-primary.custom-button.text-uppercase.mt-lg.mb-lg.font-weight-bold.appear-animation(href='clin-index.html', data-appear-animation='fadeInDown', data-appear-animation-delay='550') Записатись!

