#main-p.main(role='main')

    section.section-custom-medical
        .container
            .row.medical-schedules
                .col-lg-3.box-one.background-color-primary.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='0')
                    .feature-box.feature-box-style-2.p-lg
                        .feature-box-icon
                            a(href='index.html')
                                img(alt='nc', width='210', height='50', src='img/nc-main/nc-logo.png')
                            //img(alt='nc', width='170', height='40', src='img/nc-main/nc-logo.png')
                        .feature-box-info.ml-md
                            h4.m-none
                            //Стоматологічне лікування
                .col-lg-3.box-two.background-color-tertiary.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='600')
                    h5.m-none
                        a(href='doc-index.html', title='')
                            | Записатись...
                            i.icon-arrow-right-circle.icons
                .col-lg-3.box-three.background-color-primary.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='1200')
                    .expanded-info.p-xlg.background-color-primary
                        .info.custom-info
                            span Пон.-Птн.
                            span з 09:00 до 19:00
                        .info.custom-info
                            span Субота
                            span з 11:00 до 13:00
                        .info.custom-info
                            span Неділя
                            span Вихідний
                    h5.m-none
                        | Години роботи
                        i.icon-arrow-right-circle.icons
                .col-lg-3.box-four.background-color-secondary.p-none.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='1800')
                    a.text-decoration-none(href='tel:+008001234567')
                        .feature-box.feature-box-style-2.m-none
                            .feature-box-icon
                                i.icon-call-out.icons
                            .feature-box-info.ml-md
                                label.font-weight-light Екстренний виклик
                                strong.font-weight-normal 098 777 88 99
            //.row.mt-md
                .col-md-12
                    h2.font-weight-semibold.m-none Клініка
                    p.lead.font-weight-normal


            .row.mt-xlg.pt-xlg.mb-xlg.pb-xs
                .col-md-offset-1.col-md-5.col-sm-5
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='500')

                        p.lead.font-weight-normal Наша клініка обладнана надсучасним обладнянням та є передовою у сучасній стоматології.
                        p
                            | У нашій роботі ми спираємося на доказову медицину, використовуємо одноразові комплекти інструментів, дбайливо слідкуємо за усім необхідним, що дозволяє досягти максимальної гігієни та чистоти у роботі. Ми пишаємось тим що можемо надавати насправді високоякісні стоматологічні послуги, що відповідають світовим стандартам.
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='600')
                        a.btn.btn-borders.btn-primary.custom-button.text-uppercase.mt-lg.mb-lg.font-weight-bold(href='clin-index.html') детальніше...
                .col-sm-5.col-md-5
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='700')
                        .owl-carousel.owl-theme.mb-none(data-plugin-options='{"items": 1, "animateOut": "fadeOut", "autoplay": true, "autoplayTimeout": 4000}')
                            div
                                img.img-responsive.img-rounded(alt='', src='img/nc-main/nc-new.jpg')
                            div
                                img.img-responsive.img-rounded(alt='', src='img/nc-main/nc-new2.jpg')
                            div
                                img.img-responsive.img-rounded(alt='', src='img/nc-main/nc-new3.jpg')
                            div
                                img.img-responsive.img-rounded(alt='', src='img/nc-main/nc-new4.jpg')
                            div
                                img.img-responsive.img-rounded(alt='', src='img/nc-main/nc-new5.jpg')
                            div
                                img.img-responsive.img-rounded(alt='', src='img/nc-main/nc-new6.jpg')
                .col-md-offset-1




            //.row.mt-md
                .col-md-12
                    h2.font-weight-semibold.m-none Спеціалізація
                    p.lead.font-weight-normal
            .row
                .col-sm-4.col-md-4
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='400')
                        a.text-decoration-none(href='index-strauman.html')
                            span.thumb-info.thumb-info-side-image.thumb-info-side-image-custom.thumb-info-no-zoom.thumb-info-no-zoom.thumb-info-side-image-custom-highlight
                                span.thumb-info-side-image-wrapper
                                    img.img-responsive(alt='', src='http://www.vash-dentist.ru/wp-content/uploads/2015/11/Implantatyi-Straumann-iz-SHveytsarii.jpg')
                                span.thumb-info-caption
                                    span.thumb-info-caption-text.p-xl
                                        h4.font-weight-semibold.mb-xs Імпланти Штрауман
                                        p Міжнародної системи довічної гарантії на імпланти...
                .col-sm-4.col-md-4
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='500')
                        a.text-decoration-none(href='s1-index.html')
                            span.thumb-info.thumb-info-side-image.thumb-info-side-image-custom.thumb-info-no-zoom.thumb-info-no-zoom.thumb-info-side-image-custom-highlight
                                span.thumb-info-side-image-wrapper
                                    img.img-responsive(alt='', src='http://breket-sistemy.ru/sites/default/files/imagecache/reflect/photos/7/ortodontiya-3658.jpg')
                                span.thumb-info-caption
                                    span.thumb-info-caption-text.p-xl
                                        h4.font-weight-semibold.mb-xs Вирівнювання суглобів
                                        p Проводимо операції по вирівнюванню суглобів...
                .col-sm-4.col-md-4
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='600')
                        a.text-decoration-none(href='s1-index.html')
                            span.thumb-info.thumb-info-side-image.thumb-info-side-image-custom.thumb-info-no-zoom.thumb-info-no-zoom.thumb-info-side-image-custom-highlight
                                span.thumb-info-side-image-wrapper
                                    img.img-responsive(alt='', src='http://www.zubi-breketi.ru/data/images/brekety_sapfirovie_sroki.jpg')
                                span.thumb-info-caption
                                    span.thumb-info-caption-text.p-xl
                                        h4.font-weight-semibold.mb-xs Вирівнювання зубів
                                        p Клініка надає послуги по вирівнюванню зубів без брекетів...

