.main(role='main')
    section.page-header.page-header-color.page-header-primary.page-header-float-breadcrumb
        .container
            .row
                .col-md-12
                    h1.mt-xs
                        | Стоматологія
                        //span Learn more about our departments
                    ul.breadcrumb.breadcrumb-valign-mid
                        li
                            a(href='index.html') Головна
                        li.active Пародонтологія
    section
        .container
            .row

                .col-md-7
                    .feature-box.feature-box-style-2.mb-lg.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='200')
                        h2.font-weight-semibold.mb-md Пародонтологія
                    .feature-box.feature-box-style-2.mb-lg.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='300')
                        p.lead.font-weight-normal
                            | Часто суб’єктивне відчуття, що з зубами все в повному порядку, не відповідає дійсності.
                    .feature-box.feature-box-style-2.mb-lg.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='500')
                        p.lead
                            | Адже якщо зуби не болять, це ще не означає, що вони не потребують лікування. За статистикою, пародонтозом в тій чи іншій мірі страждають 95% дорослого населення.



                .col-md-4
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='600')
                        img.img-serv-main.ml-xl.mb-xl.img-responsive.box-shadow-custom(src='img/nc-main/main-5.jpg', alt='')

            .hr-solid

            .row
                .col-md-12
                    .toggle.toggle-primary.toggle-simple(data-plugin-toggle='')
                        section.toggle.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='800')
                            label Види захворювань пародонту
                            .toggle-content
                                .row
                                    .col-md-6
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                                strong Гінгівіт
                                            p
                                            | Гінгівіт – початкова і найлегша форма захворювань тканин пародонту. При гінгівіті відзначається почервоніння ясен, їх набряк та кровоточивість, що легко виникає. На цій стадії, зазвичай, відчувається невеликий дискомфорт або ж захворювання протікає безсимптомно. В більшості випадків гінгівіт є наслідком неналежної гігієни порожнини рота. Дане захворювання має зворотній характер і успішно лікується шляхом надання професійної допомоги та належним гігієнічним доглядом в домашніх умовах.
                                            | До факторів, які можуть спричиняти розвиток гінгівіту, належать діабет, паління, старший вік, генетична схильність, системні захворювання та стани, незбалансоване харчування, стрес, пубертатний період, зміна гормонального фону, зловживання забороненими препаратами, ВІЛ та вживання ряду медичних препаратів.

                                    //.col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='300')
                                            p
                                            | Суть феномену полягає у наявності безпосереднього контакту та функціонального зв’язку між імплантатом та кістковою тканиною, на яку здійнюється навантаження. Формувач ясен, який сприяє загоєнню та формуванню м’яких тканин навколо імплантату, може встановлюватись як безпосередньо під час імплантації, так і через декілька місяців.

                                    //.col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='300')
                                            img.img-responsive(src='img/nc-main/end-1.jpg', alt='')

                                    .col-md-6
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='300')
                                            p
                                                strong  Пародонтит
                                            p
                                            | Якщо гінгвіт не вилікувати, то в більшості випадків він призведе до пародонтиту. З часом, зубний наліт може поширюватись під лінію ясен, а токсини, які продукують бактерії зубного нальоту, подразнюють тканини пародонту. Токсини провокують хронічну запальну відповідь при якій організм, по суті, атакує сам себе, що призводить до руйнування тканин та кістки, що утримують зуб. Ясна, в свою чергу, дещо відстають від зубів, формуючи пародонтальні кишені, які легко інфікуються. Зазвичай, цей деструктивний процес має дуже незначні прояви, а в кінцевому результаті зуби можуть ставати рухомими або ж взагалі підлягають видаленню.
                                //.row
                                    .col-md-12
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p.lead
                                                strong Виділяють багато форм пародонтиту, проте, найчастіше зустрічаються наступні:
                                            p  Агресивний пародонтит виникає у пацієнтів, які клінічно видаються здоровими. В пацієнтів спостерігається блискавична втрата прикріплення та деструкція кістки, а також наявність захворювання в сімейному анамнезі.
                                            p  Хронічний пародонтит проявляється запаленням тканин, що оточують зуб, прогресивною втратою прикріплення та кісткової тканини. Це найбільш поширена форма пародонтиту, що проявляється утворенням пародонтальних кишень і/чи рецесією ясен. Частіше спостерігається у дорослих, проте, може бути характерною для осіб будь-якого віку. Втрата прикріплення, здебільшого, прогресує повільно, проте, можуть спостерігатись періоди блискавичного прогресування.
                                            p  Пародонтит як прояв загальних захворювань найчастіше виникає в юному віці. Системні захворювання, такі як хвороби серця, патологія дихальних шляхів та діабет пов’язані із даною формою пародонтиту.
                                            p  Некротизуючі захворювання пародонту – це інфекція, що характеризується некрозом тканин пародонту, періодонтальної зв'язки та кісткової тканини альвеолярного відростка. Такі ураження найчастіше зустрічаються в осіб із системними станами, які ВІЛ, порушення харчування та пригнічення функції імунної системи.

                        section.toggle.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='1000')
                            label Симптоми захворювань пародонту
                            .toggle-content
                                .row
                                    .col-md-12
                                        p
                                        | Як ми вже знаємо, запальний процес в тканинах пародонту, що довгий час не лікується, може призводити до погіршення стану м'яких тканин та втрати кісткової маси. Все це може призводити до рецесії ясен або ж навіть втрати зуба. Окрім того, дослідження продемонстрували, що захворювання пародонту пов’язані із загальними захворюваннями, такими як діабет чи хвороби серця.
                                        | На превелике щастя, захворювання пародонту можна попередити, додавши до щоденної рутини наступне:
                                .row
                                    .col-md-12
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='200')
                                            ol.list.list-ordened.list-ordened-style-2.mb-xlg.mt-lg
                                                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='200')
                                                    li
                                                        p   почервоніння, набряк, больова чутливість ясен чи інші відчуття болю в порожнині рота;
                                                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='250')
                                                    li
                                                        p   кровоточивість при вживанні твердої їжі, чищенні зубів чи використанні дентального флосу;
                                                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='300')
                                                    li
                                                        p   рецесії ясен, які роблять зуби візуально довшими;
                                                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='350')
                                                    li
                                                        p   рухомість зубів;
                                                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='400')
                                                    li
                                                        p   наявність гною між яснами та зубами;
                                                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='450')
                                                    li
                                                        p   язви в порожнині рота;
                                                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='500')
                                                    li
                                                        p   постійний неприємний запах з рота;
                                                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='550')
                                                    li
                                                        p   зміни при змиканні зубів;
                                                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='600')
                                                    li
                                                        p   зміна прилягання знімних протезів.






                        section.toggle.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='800')
                            label Нехірургічні методи лікування
                            .toggle-content
                                .row
                                    .col-md-6
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                                strong Лікування захворювань пародонту
                                            p
                                            | Американська академія пародонтологія вважає ідеальним досягнення лікувальних цілей із використанням найменш інвазивних та найбільш економічно вигідних методик. В багатьох випадках цього можна досягти використовуючи нехірургічні методи лікування.
                                            | Проте, нехірургічні методи лікування теж мають свої обмеження: у випадках, коли вони не є достатньо ефективними, може бути необхідним проведення операції.
                                    //.col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='300')
                                            p
                                            | Суть феномену полягає у наявності безпосереднього контакту та функціонального зв’язку між імплантатом та кістковою тканиною, на яку здійнюється навантаження. Формувач ясен, який сприяє загоєнню та формуванню м’яких тканин навколо імплантату, може встановлюватись як безпосередньо під час імплантації, так і через декілька місяців.

                                    //.col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='300')
                                            img.img-responsive(src='img/nc-main/end-1.jpg', alt='')

                                    .col-md-6
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='300')
                                            p
                                                strong  Очищення та згладжування поверхні кореня
                                            p
                                            | Дані маніпуляції виконуються для бережного очищення поверхні кореня від каменю та його видалення із пародонтальних кишень, а також для згладження поверхні кореня з метою видалення бактерійних токсин. Досить часто після проведення даних процедур призначається додаткове лікування у вигляді антибактерійних чи інших препаратів у відповідності до вимог того чи іншого клінічного випадку.
                                            | Багато пародонтологів погоджуються із твердження, що після проведення очищення та згладжування поверхні кореня велика кількість пацієнтів більше не потребує активного лікування. Проте, більшість пацієнтів потребують подальшого підтримуючого догляду для забезпечення здорового стану тканин пародонту.




                        section.toggle.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='800')
                            label Видовження коронок
                            .toggle-content
                                .row
                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                            | Напевно, багато із Вас задавали питання своєму лікареві, як можна виправити так звану “ясенну посмішку”, коли зуби здаються візуально короткими. Насправді, Ваші зуби можуть бути достатньої довжини, проте, надмірно вкриті яснами. Для корекції таких станів використовується хірургічне видовження коронок.

                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='300')
                                            p
                                            | Під час даної процедури видаляється надлишок ясен та кісткової тканини для кращої візуалізації зубів. Лікар-стоматолог може рекомендувати видовження коронок перед проведенням реставраційних чи ортопедичних методів лікування.
                                    //.col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='300')
                                            img.img-responsive(src='img/nc-main/end-1.jpg', alt='')
                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='300')
                                            p
                                            | Дана маніпуляція може виконуватись в ділянці одного чи кількох зубів. Зуб може бути уражений карієсом, зламаний під лінією ясен чи мати візуально недостатню кількість тканин реставрації. В цих випадках видовження коронок сприяє корекції ясен та рівня кістки для кращої візуалізації зуба з метою подальшого реставраційного лікування









                        section.toggle.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='1000')
                            label Профілактика захворювань пародонту
                            .toggle-content
                                .row
                                    .col-md-12
                                        p
                                        | Як ми вже знаємо, запальний процес в тканинах пародонту, що довгий час не лікується, може призводити до погіршення стану м'яких тканин та втрати кісткової маси. Все це може призводити до рецесії ясен або ж навіть втрати зуба. Окрім того, дослідження продемонстрували, що захворювання пародонту пов’язані із загальними захворюваннями, такими як діабет чи хвороби серця.
                                        | На превелике щастя, захворювання пародонту можна попередити, додавши до щоденної рутини наступне:
                                .row
                                    .col-md-12
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='200')
                                            ol.list.list-ordened.list-ordened-style-2.mb-xlg.mt-lg
                                                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='200')
                                                    li
                                                        p   Чищення зубів
                                                        p   Чистіть зуби щонайменше двічі на добу щіткою із м’якими ворсинками. Також не завадить чистити зуби після прийому їжі для видалення залишків їжі та зубного нальоту. Не забувайте про очищення язика – бактерії люблять сховатись і там.
                                                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='350')
                                                    li
                                                        p   Використання флосу
                                                        p   Використання дентального флосу щонайменше раз на добу допомагає видалити зубний наліт та залишки їжі із міжзубних проміжків та вздовж лінії ясен, куди, зазвичай, не може дістатись зубна щітка.

                                                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='500')
                                                    li
                                                        p   Ополіскуйте порожнину рота
                                                        p   Використання ополіскувачів порожнини рота допомагає видалити ті залишки їжі та зубний наліт, що залишились після чищення зубів та використання флосу.

                                                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='650')
                                                    li
                                                        p   Не забувайте про фактори ризику
                                                        p   Вік, паління, характер харчування та генетика можуть збільшувати ризик виникнення захворювань пародонту. Якщо Ви піддаєтесь більшому ризику, слід звернутись до лікаря.
                                                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='800')
                                                    li
                                                        p   Регулярно відвідуйте стоматолога
                                                        p   Регулярно з'являйтесь на пародонтологічне обстеження, яке включає огляд зубів, оцінку накопичення зубного каменю, ясен, прикусу, кісткової структури та інших факторів ризику виникнення захворювань пародонту. Раннє виявлення симптомів захворювань пародонту – ключ до успішного лікування.















            .row
                .col-md-12
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='1250')
                        p.lead
                            | Лікування починають з діагностики, спрямованої на вивчення складу бактерій, що викликають хворобу і аналіз ступеня руйнування кістки. Після цього призначають місцеве і загальне лікування.




    section.call-to-action.call-to-action-default.with-button-arrow.call-to-action-in-footer
        .container
            .row
                .col-md-offset-2.col-md-10
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeBounceUp', data-appear-animation-delay='350')
                        .call-to-action-content
                            h3
                                | Ви можете
                                strong  записатись
                                |   на огляд зараз
                            p
                                | Залиште контактні данні
                                strong  Ми зателефонує
                                |    протягом 10-ти хвилин
                            a.btn.btn-borders.btn-primary.custom-button.text-uppercase.mt-lg.mb-lg.font-weight-bold.appear-animation(href='clin-index.html', data-appear-animation='fadeInDown', data-appear-animation-delay='550') Записатись!

