.main(role='main')
    section.page-header.page-header-color.page-header-primary.page-header-float-breadcrumb
        .container
            .row
                .col-md-12
                    h1.mt-xs
                        | Стоматологія
                        //span Learn more about our departments
                    ul.breadcrumb.breadcrumb-valign-mid
                        li
                            a(href='index.html') Головна
                        li.active Ендодонтія
    section
        .container
            .row

                .col-md-7
                    .feature-box.feature-box-style-2.mb-lg.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='200')
                        h2.font-weight-semibold.mb-md Ендодонтія
                    .feature-box.feature-box-style-2.mb-lg.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='300')
                        p.lead.font-weight-normal
                            | Щороку мільйони зубів вдається вилікувати та врятувати завдяки лікування кореневих каналів – ендодонтичному лікуванню.
                    .feature-box.feature-box-style-2.mb-lg.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='500')
                        p.lead   В нашій клініці лікування кореневих каналів здійснюється висококваліфікованими спеціалістами із використанням дентального мікроскопа та якісних біосумісних матеріалів.



                .col-md-4
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='600')
                        img.img-serv-main.ml-xl.mb-xl.img-responsive.box-shadow-custom(src='img/nc-main/about.jpg', alt='')

            .hr-solid

            .row
                .col-md-12
                    .toggle.toggle-primary.toggle-simple(data-plugin-toggle='')
                        section.toggle.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='800')
                            label Лікування кореневих каналів
                            .toggle-content
                                .row
                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                            | Всередині кожного зуба, під білосніжною емаллю та твердим шаром тканин, що носить назву дентину, розташовується м’яка тканина – пульпа. Пульпа містить кровоносні судини, нервові закінчені та сполучну тканину, сприяючи росту кореня зуба під час його розвитку.
                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='300')
                                            img.img-responsive(src='img/nc-main/end-1.jpg', alt='')

                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='300')
                                            p
                                            | Сучасне ендодонтичне лікування дещо схоже на звичайну процедуру пломбування зуба, яке можна здійснити в одне або два відвідування в залежності від стану зуба та індивідуальних особливостей.
                                            | Повністю сформований зуб може функціонувати і без пульпи, адже живлення забезпечується тканинами, що його оточують.

                        section.toggle.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='900')
                            label Як ендодонтія рятує зуб?
                            .toggle-content
                                .row
                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                            | Показами до лікування кореневих каналів є запалення або інфекція пульпи, які можуть бути викликані рядом причин, таких як глибокий карієс, неодноразове лікування зуба, дефекти штучних коронок, а також тріщинами чи сколами зубів. Якщо запалення чи інфекцію пульпи залишити без лікування – це може призвести до появи больових відчуттів чи виникнення абсцесів.
                                    .col-md-4
                                        .feature-box.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='300')
                                            img.img-responsive(src='img/nc-main/end-2.jpg', alt='')

                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='300')
                                            p
                                            | Під час лікування кореневих каналів лікар видаляє уражену пульпу, після чого їх ретельно очищує та дезінфікує. Далі потім кореневі канали пломбуються гумоподібним матеріалом, що носить назву гутаперчі. Після лікування зуб відновлюють за допомогою реставрації чи встановлення коронки. Тепер Ваш зуб готовий функціонувати, як і будь-який інший.

                        section.toggle.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='1000')
                            label Переваги
                            .toggle-content
                                .row
                                    .col-md-12
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='200')
                                            ol.list.list-ordened.list-ordened-style-2.mb-xlg.mt-lg
                                                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='200')
                                                    li підвищення ефективності жування
                                                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='350')
                                                    li нормальний розподіл навантаження та чутливість
                                                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='500')
                                                    li захист інших зубів від підвищеного стирання та зміни кольору
                                                .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='650')
                                                    li природній вигляд
            .row
                .col-md-12
                   .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='1250')
                        p.lead
                            | Ендодонтичне лікування сприяє збереженню природньої посмішки, повертає Вам змогу вживати улюблені продукти харчування і усуває потребу подальшого лікування. При правильному догляді ендодонтично ліковані зуби можуть прослужити ціле життя!




    section.call-to-action.call-to-action-default.with-button-arrow.call-to-action-in-footer
        .container
            .row
                .col-md-offset-2.col-md-10
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeBounceUp', data-appear-animation-delay='350')
                        .call-to-action-content
                            h3
                                | Ви можете
                                strong  записатись
                                |   на огляд зараз
                            p
                                | Залиште контактні данні
                                strong  Ми зателефонує
                                |    протягом 10-ти хвилин
                            a.btn.btn-borders.btn-primary.custom-button.text-uppercase.mt-lg.mb-lg.font-weight-bold.appear-animation(href='clin-index.html', data-appear-animation='fadeInDown', data-appear-animation-delay='550') Записатись!

