.main(role='main')
    section.page-header.page-header-color.page-header-primary.page-header-float-breadcrumb
        .container
            .row
                .col-md-12
                    h1.mt-xs
                        | Спеціалізація
                        //span Learn more about our departments
                    ul.breadcrumb.breadcrumb-valign-mid
                        li
                            a(href='index.html') Головна
                        li.active Іпмпланти Straumann
    section
        .container
            .row

                .col-md-6
                    .feature-box.feature-box-style-2.mb-lg.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='200')
                        h2.font-weight-semibold.mb-md Імпланти Straumann
                    .feature-box.feature-box-style-2.mb-lg.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='300')
                        p.lead.font-weight-normal
                            | Вже більше 40 років дентальні імплантати дозволяють замінити втрачені зуби повністю та надовго, повертаючи втрачену якість життя.
                        p   Straumann Дентальний імплантат бере на себе функцію штучного кореня та є міцною і надійною основою для зубного протеза.



                .col-md-6
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='600')
                        img.img-serv-main.ml-xl.mb-xl.img-responsive(src='http://www.vash-dentist.ru/wp-content/uploads/2015/11/Implantatyi-Straumann-iz-SHveytsarii.jpg', alt='')

            .hr-solid

            .row
                .col-md-12
                    .toggle.toggle-primary.toggle-simple(data-plugin-toggle='')
                        //section.toggle.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='800')
                            label Лікування кореневих каналів
                            .toggle-content
                                .row
                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                            | Всередині кожного зуба, під білосніжною емаллю та твердим шаром тканин, що носить назву дентину, розташовується м’яка тканина – пульпа. Пульпа містить кровоносні судини, нервові закінчені та сполучну тканину, сприяючи росту кореня зуба під час його розвитку.
                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='300')
                                            img.img-responsive(src='img/nc-main/end-1.jpg', alt='')

                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='300')
                                            p
                                            | Сучасне ендодонтичне лікування дещо схоже на звичайну процедуру пломбування зуба, яке можна здійснити в одне або два відвідування в залежності від стану зуба та індивідуальних особливостей.
                                            | Повністю сформований зуб може функціонувати і без пульпи, адже живлення забезпечується тканинами, що його оточують.

                        //section.toggle.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='900')
                            label Яким чином рятує зуб?
                            .toggle-content
                                .row
                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            p
                                            | Показами до лікування кореневих каналів є запалення або інфекція пульпи, які можуть бути викликані рядом причин, таких як глибокий карієс, неодноразове лікування зуба, дефекти штучних коронок, а також тріщинами чи сколами зубів. Пошкодження пульпи може бути спричинене травмою зуба, навіть якщо відсутні візуальні ознаки тріщин та сколів. Якщо запалення чи інфекцію пульпи залишити без лікування – це може призвести до появи больових відчуттів чи виникнення абсцесів.
                                    .col-md-4
                                        .feature-box.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='300')
                                            img.img-responsive(src='img/nc-main/end-2.jpg', alt='')

                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='300')
                                            p
                                            | Під час лікування кореневих каналів лікар видаляє уражену пульпу, після чого їх ретельно очищує та дезінфікує. Далі потім кореневі канали пломбуються гумоподібним матеріалом, що носить назву гутаперчі. Після лікування зуб відновлюють за допомогою реставрації чи встановлення коронки. Тепер Ваш зуб готовий функціонувати, як і будь-який інший.







                        section.toggle.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='1000')
                            label Переваги
                            .toggle-content
                                .row
                                    .col-md-12
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='200')
                                            p   Швейцарська компанія з більш, ніж 20-річною базою наукових та клінічних досліджень, які підтверджені щонайменше 3000 незалежних публікацій. Все, що робить компанія Straumann, повинно відповідати трьом простим вимогам:

                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='300')
                                            .feature-box-icon
                                                i.fa.fa-user-md
                                            .feature-box-info.ml-md
                                                h4.font-weight-semibold
                                                    a.text-decoration-none(href='#') Надійність
                                            .feature-box-info.ml-md
                                                ol.list.list-ordened.list-ordened-style-2.mb-xlg.mt-lg
                                                    li  Імплантати розроблені для оптимальної відповідності природніх тканин
                                                    li  Пришвидшений час загоєння
                                                    li  Використання з’єднання типу конусу Морзе для забезпечення максимальної стабільності

                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='500')
                                            .feature-box-icon
                                                i.fa.fa-user
                                            .feature-box-info.ml-md
                                                h4.font-weight-semibold
                                                    a.text-decoration-none(href='#') Простота
                                            .feature-box-info.ml-md
                                                ol.list.list-ordened.list-ordened-style-2.mb-xlg.mt-lg
                                                    li  Логічна структура компонентів системи
                                                    li  Простий хірургічний протокол
                                                    li  Єдиний набір хірургічних інструментів


                                    .col-md-4
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInRight', data-appear-animation-delay='700')
                                            .feature-box-icon
                                                i.fa.fa-star
                                            .feature-box-info.ml-md
                                                h4.font-weight-semibold
                                                    a.text-decoration-none(href='#') Універсальність
                                            .feature-box-info.ml-md
                                                ol.list.list-ordened.list-ordened-style-2.mb-xlg.mt-lg
                                                    li  Широкий спектр варіантів протезування
                                                    li  Свобода вибору хірургічного втручання





                        section.toggle.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='700')

                            label Гарантії
                            .toggle-content
                                .row
                                    .col-md-12
                                        .feature-box.feature-box-style-2.mb-lg.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='200')
                                            p   Імплантація – безпечний та поширений метод лікування, ефективність якого сягає більше 96%. Саме тому ми обираємо імплантати Straumann. Straumann – це значно більше, ніж створення посмішки. Straumann – це відновлення впевненості у собі.
                                        .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='300')
                                            p Straumann – компанія, яка надає довічну гарантію на оригінальні елементи своєї системи. Тому в будь-який час і в будь-якому місці нашої планети Ви можете отримати гарантійне обслуговування, адже кожен пацієнт нашої клініки після лікування отримує спеціальний паспорт та сертифікат.




    section.call-to-action.call-to-action-default.with-button-arrow.call-to-action-in-footer
        .container
            .row
                .col-md-offset-2.col-md-10
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeBounceUp', data-appear-animation-delay='1200')
                        .call-to-action-content
                            h3
                                | Ви можете
                                strong  записатись
                                |   на огляд зараз
                            p
                                | Залиште контактні данні
                                strong  Ми зателефонує
                                |    протягом 10-ти хвилин
                            a.btn.btn-borders.btn-primary.custom-button.text-uppercase.mt-lg.mb-lg.font-weight-bold.appear-animation(href='clin-index.html', data-appear-animation='fadeBounceUp', data-appear-animation-delay='12000') Записатись!

