.container
    nav.my-navbar.navbar.navbar-default.navbar-fixed-bottom(role='navigation')
        .container-fluid
            .navbar-header
                button.navbar-toggle(type='button' data-toggle='collapse' data-target='#navbar-collapse-1')
                    span.sr-only
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            #navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-left
                    li.dropdown
                        a.dropdown-toggle(href='#' data-toggle='dropdown') My Finance
                            b.caret
                        ul.dropdown-menu
                            li
                                a(href='#') Profits
                            li
                                a(href='#') Expenditures
                            li
                                a(href='#') Loans
                            li.divider
                            li
                                a(href='#') Balance report
                            li
                                a(href='#') P&L report
                            li
                                a(href='#') Cash Flow report
                form.navbar-form.navbar-right(role='search')
                    .form-group
                      //  input.form-control(type='text' placeholder='+__ (__) __ __ __')
                    button.btn.btn-primary(type='submit')    Push me!
                ul.nav.navbar-nav.navbar-right
                    li.dropdown
                        a.dropdown-toggle(href='#' data-toggle='dropdown') More Actions
                            b.caret
                        ul.dropdown-menu
                            li
                                a(href='#') Refresh
                            li
                                a(href='#') Check Updates
                            li
                                a(href='#') Log out