.container.my-side-bar
    .col-md-4
        nav.nav.navbar-nav
            ul.nav.nav-pills.navbar-left
                li.my-side-li
                    a(href='#') Home
                li.my-side-li
                    a(href='#') Profile
                li.my-side-li
                    a(href='#') Message
