.container-fluid.main-container-badges
    .flex-rules-hor
        .flex-part-badges
            img.badgez(src='http://images.tildacdn.info/68262559-89df-4be2-b7a8-65967689b353/k27649888.jpg')
            h2.text-success  10 +
            h4.text-success  лет проффесионального стажа
        .flex-part-badges
            img.badgez(src='http://images.tildacdn.info/a96bb4bf-cccd-4c54-989d-06795f9780ae/114565462.png')
            h2.text-success  5 +
            h4.text-success  из них на руководящих должностях
        .flex-part-badges
            img.badgez(src='http://images.tildacdn.info/5ad8f412-0e53-4fcd-8b2b-09671b4eaacc/images.png')
            h2.text-success  100 +
            h4.text-success  успешно завершенных проектов
.container-fluid.main-container-badges
    .flex-rules-hor
        .flex-part-badges
            img.badgez(src='http://images.tildacdn.info/68262559-89df-4be2-b7a8-65967689b353/k27649888.jpg')
            h2.text-success  10 +
            h4.text-success  лет проффесионального стажа
        .flex-part-badges
            img.badgez(src='http://images.tildacdn.info/a96bb4bf-cccd-4c54-989d-06795f9780ae/114565462.png')
            h2.text-success  5 +
            h4.text-success  из них на руководящих должностях
        .flex-part-badges
            img.badgez(src='http://images.tildacdn.info/5ad8f412-0e53-4fcd-8b2b-09671b4eaacc/images.png')
            h2.text-success  100 +
            h4.text-success  успешно завершенных проектов








