#clinic.main(role='main')
    section.page-header.page-header-color.page-header-primary.page-header-float-breadcrumb
        .container
            .row
                .col-md-12
                    h1.mt-xs
                        | Медичний центр
                        //span Learn more about our departments
                    ul.breadcrumb.breadcrumb-valign-mid
                        li
                            a(href='index.html') Головна
                        li.active Медичний центр
    section.section-custom-medical
        hr.tall
        .container
            .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='200')
                h2
                    | Місце де відбуваються
                    strong  дива!

            .row.mt-xlg.pt-xlg.mb-xlg.pb-xs
                .col-md-offset-1.col-md-5.col-sm-5
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='300')
                        p.lead.font-weight-normal Наша клініка обладнана надсучасним обладнянням та є передовою у стоматології.
                        p.font-weight-normal У нашій роботі ми спираємося на доказову медицину, використовуємо одноразові комплекти інструментів, дбайливо слідкуємо за усім необхідним, що дозволяє досягти максимальної гігієни та чистоти у роботі. Ми пишаємось тим що можемо надавати насправді високоякісні стоматологічні послуги, що відповідають світовим стандартам.
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='400')
                        //a.btn.btn-borders.btn-primary.custom-button.text-uppercase.mt-lg.mb-lg.font-weight-bold(href='clin-index.html') детальніше...
                .col-sm-5.col-md-5
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='500')
                        .owl-carousel.owl-theme.mb-none(data-plugin-options='{"items": 1, "animateOut": "fadeOut", "autoplay": true, "autoplayTimeout": 4000}')
                            div
                                img.img-serv-main.img-responsive.img-rounded(alt='', src='img/nc-main/nc-new.jpg')
                            div
                                img.img-serv-main.img-responsive.img-rounded(alt='', src='img/nc-main/nc-new2.jpg')
                            div
                                img.img-serv-main.img-responsive.img-rounded(alt='', src='img/nc-main/nc-new3.jpg')
                            div
                                img.img-serv-main.img-responsive.img-rounded(alt='', src='img/nc-main/nc-new4.jpg')
                            div
                                img.img-serv-main.img-responsive.img-rounded(alt='', src='img/nc-main/nc-new5.jpg')
                            div
                                img.img-serv-main.img-responsive.img-rounded(alt='', src='img/nc-main/nc-new6.jpg')
                .col-md-offset-1




    section.section-custom-medical
        .container
            .row.mt-xlg.mb-xl
                .col-md-4
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='400')
                        .feature-box-icon
                            i.fa.fa-star
                        .feature-box-info
                            h4.heading-primary.mb-xs 10 років приватної практики
                            p   Наші лікарі працювали у багатьох відомих клініках та зрештою обєдналися тут у NestorClinic. Ми злагоджений колектив.
                .col-md-4
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='500')
                        .feature-box-icon
                            i.fa.fa-heart
                        .feature-box-info
                            h4.heading-primary.mb-xs Нас дуже люблять наші клієнти
                            p   А ми любимо їх та оберігаємо здоровя їхніх зубів, сповідуючий здоров`я та красу. Так ми спільно досягаємо нашої мети.
                .col-md-4
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='600')
                        .feature-box-icon
                            i.fa.fa-trophy
                        .feature-box-info
                            h4.heading-primary.mb-xs Ми творимо дива.
                            p   Унікальні кейси складних стоматолігних операцій слугують базою для постійного самовдосконалення наших лікарів.

            .row.mt-xlg.mb-xl
                .col-md-4
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='450')
                        .feature-box-icon
                            i.fa.fa-industry
                        .feature-box-info
                            h4.heading-primary.mb-xs Гарантуємо високу якість
                            p   Ми працюємо на надсучасному обладнанніта використовуємо лише якісні матеріали, що дозволяє гарантувати рівень послуг.
                .col-md-4
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='550')
                        .feature-box-icon
                            i.fa.fa-gift
                        .feature-box-info
                            h4.heading-primary.mb-xs Надаємо довічну гарантію
                            p   Клініка Нестора акредитований член програми довічної гарантії на імпланти, яка діє у більшості розвинутих країн світу.
                .col-md-4
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='650')
                        .feature-box-icon
                            i.fa.fa-gears
                        .feature-box-info
                            h4.heading-primary.mb-xs Вкористовуємо світовий досвід
                            p   Наші лікарі отримали додаткову освіту закордоном (США, Іспанія, Германія) та використувують отриманий досвід, лікуючи Ваші зуби.

    //hr.tall





    //section.parallax.section.section-parallax.section-center(data-stellar-background-ratio='0.85', style='background-image: url("img/nc-main/nc-new.jpg")')
        .container
            .row
                .col-md-12
                    .row
                        .counters
                            .col-md-3.col-sm-6
                                .counter.counter-primary.appear-animation.bounceIn.appear-animation-visible(data-appear-animation='bounceIn', data-appear-animation-delay='300', style='animation-delay: 300ms;')
                                    i.fa.fa-ambulance.counter-shd
                                    strong.counter-shd(data-to='19000', data-append='+') 19000
                                    label.text-shd.text-light Зубів врятовано
                            .col-md-3.col-sm-6
                                .counter.counter-primary.appear-animation.bounceIn.appear-animation-visible(data-appear-animation='bounceIn', data-appear-animation-delay='600', style='animation-delay: 600ms;')
                                    i.fa.fa-star.counter-shd
                                    strong.counter-shd(data-to='10') 10
                                    label.text-shd.text-light Років практики
                            .col-md-3.col-sm-6
                                .counter.counter-primary.appear-animation.bounceIn.appear-animation-visible(data-appear-animation='bounceIn', data-appear-animation-delay='900', style='animation-delay: 900ms;')
                                    i.fa.fa-plus-square.counter-shd
                                    strong.counter-shd(data-to='352') 352
                                    label.text-shd.text-light Складних операції
                            .col-md-3.col-sm-6
                                .counter.counter-primary.appear-animation.bounceIn.appear-animation-visible(data-appear-animation='bounceIn', data-appear-animation-delay='1200', style='animation-delay: 1200ms;')
                                    i.fa.fa-user-plus.counter-shd
                                    strong.counter-shd(data-to='2000', data-append='') 2000
                                    label.text-shd.text-light Здорових пацієнтів


    section.section-custom-medical
        hr.tall
        .container
            h2  Наші
                strong    Принципи

            .row
                .col-md-offset-1.col-md-5
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='500')
                        .feature-box-icon
                            i.fa.fa-medkit
                        .feature-box-info
                            h4.mb-sm Боротись за кожен зуб
                            p.mb-lg
                                | Ми намагаємося зробити усе можливе і неможливе аби зберегти Ваші власні зуби і вдаємося до їх видалення лише тоді, коли це неминуче.

                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='600')
                        .feature-box-icon
                            i.fa.fa-user-md
                        .feature-box-info
                            h4.mb-sm Реальний базис
                            p.mb-lg
                                | Ми спираємося на доказову медицину, що дає нам змогу проводити обгрунтоване індивідуальне лікування кожного нашого пацієнта.
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='700')
                        .feature-box-icon
                            i.fa.fa-check-square-o
                        .feature-box-info
                            h4.mb-sm Тільки найкраще
                            p.mb-lg
                                | Ми працюємо лише з високоякіснмии матеріалами та на сучасному обладнанні аж до операцій під мікроскопом.



                .col-md-5.isotope-item.leadership
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInLeft', data-appear-animation-delay='400')
                        h4
                        .embed-responsive.embed-responsive-16by9
                            //iframe(frameborder='0', allowfullscreen='', src='http://www.youtube.com/embed/oNBBijn4JuY?showinfo=0&wmode=opaque')
                            iframe(width="1280" height="720" src='https://www.youtube.com/embed/ViBARBSWU48' frameborder='0' allowfullscreen='false')
                        //hr.tall
        .container
            .row
                .col-md-12.center
                    h2.word-rotator-title.mb-lg
                        | Ми надаємо відмінні стоматологічні послуги, які :
                        br
                        strong.inverted.inverted-primary
                            span.word-rotate(data-plugin-options='{"delay": 2000, "animDelay": 500}')
                                span.word-rotate-items
                                    span подарують емоції !
                                    span збережуть зуби !
                                    span повернуть посмішку !


    section.section-custom-medical
        hr.tall
        .container
            h2
                | Наші
                strong  послуги
            .row.mt-lg
                .col-md-4
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='300')
                        .feature-box-icon
                            i.fa.fa-star
                        .feature-box-info.ml-md
                            h4.font-weight-semibold
                                a.text-decoration-none(href='index-implant.html') Імплантологія
                            p
                                | На сьогоднішній день імплантація є чудовою альтернативою відновлення відсутніх зубів. Перший етап - це ...
                .col-md-4
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='500')
                        .feature-box-icon
                            i.fa.fa-star
                        .feature-box-info.ml-md
                            h4.font-weight-semibold
                                a.text-decoration-none(href='index-parodont.html') Пародонтологія
                            p
                                | Запалення ясен є таким патологічним станом, при якому змінам підлягає зовнішній вигляд ясен...
                .col-md-4
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInDown', data-appear-animation-delay='700')
                        .feature-box-icon
                            i.fa.fa-star
                        .feature-box-info.ml-md
                            h4.font-weight-semibold
                                a.text-decoration-none(href='s1-index.html') Вирівнювання зубів
                            p
                                | Clear Aligner — сучасна альтернатива брекет-системам. Це метод вирівнювання...
            .row.mt-lg
                .col-md-4
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='600')
                        .feature-box-icon
                            i.fa.fa-star
                        .feature-box-info.ml-md
                            h4.font-weight-semibold
                                a.text-decoration-none(href='s1-index.html') Ендодонтія
                            p
                                | Щороку мільйони зубів вдається вилікувати та врятувати завдяки лікування кореневих каналів – ендодонтичному лікуванню.
                .col-md-4
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='800')
                        .feature-box-icon
                            i.fa.fa-star
                        .feature-box-info.ml-md
                            h4.font-weight-semibold
                                a.text-decoration-none(href='s1-index.html') Протезування
                            p
                                | Штучні зуби стали не тільки «дружелюбнішими» до організму людини, але також довговічнішими і зовні не відрізняються...
                .col-md-4
                    .feature-box.feature-box-style-2.mb-xl.appear-animation(data-appear-animation='fadeInUp', data-appear-animation-delay='1000')
                        .feature-box-icon
                            i.fa.fa-star
                        .feature-box-info.ml-md
                            h4.font-weight-semibold
                                a.text-decoration-none(href='s1-index.html') Естетична стоматологія
                            p
                                | Естетичною стоматологією можуть займатися стоматологи терапевти, хірурги, ортопеди, ортодонти й гігієністи. У кожній...


