#team.main(role='main')
    //section.page-header
        .container
            .row
                .col-md-12
                    ul.breadcrumb
                        li
                            a(href='#') Додому
                        li.active Команда
            .row
                .col-md-12
                    h1 Команда



    section
        hr.tall
        .container
            h2  Наші
              strong    Принципи
            hr.tall
            .row
                .col-md-offset-1.col-md-6
                    .feature-box.feature-box-style-2
                        .feature-box-icon
                            i.fa.fa-medkit
                        .feature-box-info
                            h4.mb-sm Боротись за кожен зуб
                            p.mb-lg
                                | Ми намагаємося зробити усе можливе і неможливе аби зберегти Ваші власні зуби і вдаємося до видалення лише коли це неминуче.

                    .feature-box.feature-box-style-2
                        .feature-box-icon
                            i.fa.fa-user-md
                        .feature-box-info
                            h4.mb-sm Реальний базис
                            p.mb-lg
                                | Ми спираємося на доказову медицину, що дає нам змогу проводити обгрунтоване індивідуальне лікування кожного нашого пацієнта.
                    .feature-box.feature-box-style-2
                        .feature-box-icon
                            i.fa.fa-check-square-o
                        .feature-box-info
                            h4.mb-sm Тільки найкраще
                            p.mb-lg
                                | Ми працюємо лише з високоякіснмии матеріалами та на сучасному обладнанні аж до операцій під мікроскопом.



                .col-md-3.isotope-item.leadership
                    span.thumb-info.thumb-info-hide-wrapper-bg.mb-xlg.thumb-info-no-borders
                        span.thumb-info-wrapper
                            a(href='about-me.html')
                                img.img-responsive(src='https://www.dent-net.de/img/dummies/doc2_large.png', alt='')
                                span.thumb-info-title
                                    span.thumb-info-inner Роман Босс
                                    span.thumb-info-type Головний Лікар
                        span.thumb-info-caption
                            span.thumb-info-social-icons
                                a(target='_blank', href='http://www.facebook.com')
                                    i.fa.fa-facebook
                                    span Facebook
                                a(href='http://www.twitter.com')
                                    i.fa.fa-twitter
                                    span Twitter
                                a(href='http://www.linkedin.com')
                                    i.fa.fa-linkedin
                                    span Linkedin
        .container
            .row
                .col-md-12.center
                    h2.word-rotator-title.mb-lg
                        | Ми надаємо відмінні стоматологічні послуги, які :
                        br
                        strong.inverted.inverted-primary
                            span.word-rotate(data-plugin-options='{"delay": 2000, "animDelay": 500}')
                                span.word-rotate-items
                                    span подарують емоції !
                                    span збережуть Ваші зуби !
                                    span повернуть посмішку !









            hr#doctors.tall
        .container
            h2 Наші
                strong  Лікарі
            hr.tall
            .row
                ul.team-list.list-side-borders
                    li.col-md-3.col-sm-6.col-xs-12.isotope-item.leadership
                        span.thumb-info.thumb-info-hide-wrapper-bg.mb-xlg
                            span.thumb-info-wrapper
                                a(href='about-me.html')
                                    img.img-responsive(src='https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTAj44BHJtnWIgRun0HX3bMktORfqKjCzUj289nOEO4k0XgLQY6XQ', alt='')
                                    span.thumb-info-title
                                        span.thumb-info-inner Максим Зуб
                                        span.thumb-info-type Хірург
                            span.thumb-info-caption
                                //span.thumb-info-social-icons
                                    a(target='_blank', href='http://www.facebook.com')
                                        i.fa.fa-facebook
                                        span Facebook
                                    a(href='http://www.twitter.com')
                                        i.fa.fa-twitter
                                        span Twitter
                                    a(href='http://www.linkedin.com')
                                        i.fa.fa-linkedin
                                        span Linkedin
                    li.col-md-3.col-sm-6.col-xs-12.isotope-item.leadership
                        span.thumb-info.thumb-info-hide-wrapper-bg.mb-xlg
                            span.thumb-info-wrapper
                                a(href='about-me.html')
                                    img.img-responsive(src='http://breket-sistemy.ru/sites/default/files/imagecache/reflect/photos/5/ortodont-ili-stomatolog---kto-luchshe-ispravit-prikus-3410.jpg', alt='')
                                    span.thumb-info-title
                                        span.thumb-info-inner Ірина Імплант
                                        span.thumb-info-type Імплантолог
                            span.thumb-info-caption
                                //span.thumb-info-social-icons
                                    a(target='_blank', href='http://www.facebook.com')
                                        i.fa.fa-facebook
                                        span Facebook
                                    a(href='http://www.twitter.com')
                                        i.fa.fa-twitter
                                        span Twitter
                                    a(href='http://www.linkedin.com')
                                        i.fa.fa-linkedin
                                        span Linkedin
                    li.col-md-3.col-sm-6.col-xs-12.isotope-item.leadership
                        span.thumb-info.thumb-info-hide-wrapper-bg.mb-xlg
                            span.thumb-info-wrapper
                                a(href='about-me.html')
                                    img.img-responsive(src='http://www.tri-niti.kiev.ua/im/news/3559881-popkova.jpg', alt='')
                                    span.thumb-info-title
                                        span.thumb-info-inner Олена Бур
                                        span.thumb-info-type Парадонтолог
                            span.thumb-info-caption
                                //span.thumb-info-social-icons
                                     a(target='_blank', href='http://www.facebook.com')
                                         i.fa.fa-facebook
                                         span Facebook
                                     a(href='http://www.twitter.com')
                                         i.fa.fa-twitter
                                         span Twitter
                                     a(href='http://www.linkedin.com')
                                         i.fa.fa-linkedin
                                         span Linkedin

                    li.col-md-3.col-sm-6.col-xs-12.isotope-item.leadership
                        span.thumb-info.thumb-info-hide-wrapper-bg.mb-xlg
                            span.thumb-info-wrapper
                                a(href='about-me.html')
                                    img.img-responsive(src='http://www.tri-niti.kiev.ua/im/news/6427879-ostryanko-vitaliy.jpg', alt='')
                                    span.thumb-info-title
                                        span.thumb-info-inner Назар Десна
                                        span.thumb-info-type Ортодонт
                            span.thumb-info-caption
                                //span.thumb-info-social-icons
                                    a(target='_blank', href='http://www.facebook.com')
                                        i.fa.fa-facebook
                                        span Facebook
                                    a(href='http://www.twitter.com')
                                        i.fa.fa-twitter
                                        span Twitter
                                    a(href='http://www.linkedin.com')
                                        i.fa.fa-linkedin
                                        span Linkedin
            .row
                ul.team-list.list-side-borders
                    li.col-md-3.col-sm-6.col-xs-12.isotope-item.leadership
                        span.thumb-info.thumb-info-hide-wrapper-bg.mb-xlg
                            span.thumb-info-wrapper
                                a(href='about-me.html')
                                    img.img-responsive(src='https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTAj44BHJtnWIgRun0HX3bMktORfqKjCzUj289nOEO4k0XgLQY6XQ', alt='')
                                    span.thumb-info-title
                                        span.thumb-info-inner Максим Зуб
                                        span.thumb-info-type Хірург
                            span.thumb-info-caption
                                //span.thumb-info-social-icons
                                    a(target='_blank', href='http://www.facebook.com')
                                        i.fa.fa-facebook
                                        span Facebook
                                    a(href='http://www.twitter.com')
                                        i.fa.fa-twitter
                                        span Twitter
                                    a(href='http://www.linkedin.com')
                                        i.fa.fa-linkedin
                                        span Linkedin
                    li.col-md-3.col-sm-6.col-xs-12.isotope-item.leadership
                        span.thumb-info.thumb-info-hide-wrapper-bg.mb-xlg
                            span.thumb-info-wrapper
                                a(href='about-me.html')
                                    img.img-responsive(src='http://breket-sistemy.ru/sites/default/files/imagecache/reflect/photos/5/ortodont-ili-stomatolog---kto-luchshe-ispravit-prikus-3410.jpg', alt='')
                                    span.thumb-info-title
                                        span.thumb-info-inner Ірина Імплант
                                        span.thumb-info-type Імплантолог
                            span.thumb-info-caption
                                //span.thumb-info-social-icons
                                    a(target='_blank', href='http://www.facebook.com')
                                        i.fa.fa-facebook
                                        span Facebook
                                    a(href='http://www.twitter.com')
                                        i.fa.fa-twitter
                                        span Twitter
                                    a(href='http://www.linkedin.com')
                                        i.fa.fa-linkedin
                                        span Linkedin
                    li.col-md-3.col-sm-6.col-xs-12.isotope-item.leadership
                        span.thumb-info.thumb-info-hide-wrapper-bg.mb-xlg
                            span.thumb-info-wrapper
                                a(href='about-me.html')
                                    img.img-responsive(src='http://www.tri-niti.kiev.ua/im/news/3559881-popkova.jpg', alt='')
                                    span.thumb-info-title
                                        span.thumb-info-inner Олена Бур
                                        span.thumb-info-type Парадонтолог
                            span.thumb-info-caption
                                //span.thumb-info-social-icons
                                     a(target='_blank', href='http://www.facebook.com')
                                         i.fa.fa-facebook
                                         span Facebook
                                     a(href='http://www.twitter.com')
                                         i.fa.fa-twitter
                                         span Twitter
                                     a(href='http://www.linkedin.com')
                                         i.fa.fa-linkedin
                                         span Linkedin

                    li.col-md-3.col-sm-6.col-xs-12.isotope-item.leadership
                        span.thumb-info.thumb-info-hide-wrapper-bg.mb-xlg
                            span.thumb-info-wrapper
                                a(href='about-me.html')
                                    img.img-responsive(src='http://www.tri-niti.kiev.ua/im/news/6427879-ostryanko-vitaliy.jpg', alt='')
                                    span.thumb-info-title
                                        span.thumb-info-inner Назар Десна
                                        span.thumb-info-type Ортодонт
                            span.thumb-info-caption
                                //span.thumb-info-social-icons
                                    a(target='_blank', href='http://www.facebook.com')
                                        i.fa.fa-facebook
                                        span Facebook
                                    a(href='http://www.twitter.com')
                                        i.fa.fa-twitter
                                        span Twitter
                                    a(href='http://www.linkedin.com')
                                        i.fa.fa-linkedin
                                        span Linkedin




            //hr.tall

    section.parallax.section.section-parallax.section-center(data-stellar-background-ratio='0.6', style='background-image: url("img/nc/nc-4.jpg");  ')
        .container
            .row
                .col-md-12
                    //img.img-responsive.img-tran.center-block(src='img/team/NV-tran3.png', alt='')
                    h4
                        strong.text-shd    У Вас є запитання до лікаря? Задавайте!
                    p.text-shd   Лікар зателефонує Вам протягом робочого дня.
                    a.btn.btn-md.btn-primary.hvr-pulse-grow(href='index.html', target='_blank') Запитатись!
