//hr.solid
.main(role='main')
    .row.mt-xlg.mb-xl.pt-xs
        .col-md-offset-2.col-md-8
            h3.font-weight-bold.mt-sm   Мирослав Солонько
        .col-md-offset-2.col-md-3
            span.img-thumbnail.no-borders
                img.img-serv-main.img-responsive(alt='', src='img/nc-team/nc-roman.jpg')

            //.owl-carousel.owl-theme(data-plugin-options='{"items": 1, "margin": 10, "animateOut": "fadeOut", "autoplay": true, "autoplayTimeout": 3000}')
                div
                    span.img-thumbnail.no-borders
                        img.img-responsive(alt='', src='img/nc-team/nc-marta.jpg')
                div
                    span.img-thumbnail.no-borders
                        img.img-responsive(alt='', src='img/nc-main/nc-doc1.png')
        .col-md-6
            h5.font-weight-bold.mt-sm Про мене
            p  Здобув вищу медичну освіту у ЛНМУ ім. Данила Галицького за cпеціальністю “стоматологія”. Отримав кваліфікацію магістр медицини, кафедра щелепно-лицевої хірургії ЛНМУ ім. Данила Галицького. Пройшов інтернатуру в ЛНМУ ім. Данила Галицького та на базі ЦСІП “ММ”. Отримав спеціалізація по оральній хірургії в ЛНМУ ім. Данила Галицького
            p   Відвідуючий науковий співробітник, стипендіат ITI, кафедра стоматологічної реабілітації, факультет стоматології, Університет Гонконгу
            p   Експерт з клінічної пародонтології, Університет Комплютенс (Мадрид, Іспанія)
            p   Президент ГО “Українська Академія Пародонтології”, Директор навчального клубу “ITI Study Club Lviv”
            p  У минулому працював у ЦСІП “ММ”. Зараз працюю у NestorClinic

            h5.mt-sm.mb-md Спеціалізація
            ul.list.list-icons.list-primary
                li
                    i.fa.fa-check-circle
                    |   Пародонтологія
                li
                    i.fa.fa-check-circle
                    |   Імплантологія
                li
                    i.fa.fa-check-circle
                    |   Хірургічна стоматологія.

            //a.btn.btn-primary.btn-icon.mb-md(href='#')
                i.icon-plus.icons
                | Детальніше...


